<div class="col-md-3 sidebar sidebar-right sidebar-animate">
                 <div class=" slideout-menu">
                <div class="menu-title menu-line">
                  <h5>项目菜单</h5>
                </div>

                <ul class="menu-project-list  gray">
                  <li>
                      <a href="#" data-toggle="modal" data-target="#projectSetModal">
                        <i class="glyphicon glyphicon-cog"></i>
                        <span>项目设置</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-tag"></i>
                        <span>标签</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-bell"></i>
                        <span>任务统计</span>
                      </a>
                      <div class="row mt-10">
                        <div class="col-md-6 p-0">
                      <div class="ml-20">
                        <p class="small">待认领的任务</p>
                            <h4 class="orange h-b m-0">5 </h4>
                      </div>
                          
                        </div>

                        <div class="col-md-6 p-0">
                          <div class="ml-20">
                            <p class=" small">今天的事</p>
                            <h4 class="blue h-b m-0">2 </h4>
                          </div>
                          
                        </div>
                      </div>
                  </li>
                  <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>项目动态</span>
                        <div class="media media-menu">
                        <div class="media-left">
                          <a href="#">
                            <img class="img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width:30px; height: 30px;">
                          </a>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">李五<span class="small"> 创建了日程：</span></h6>
                          <p class="small"><span>周一 16：00-周一 17：00</span><span class="ml-20">开会</span></p>
                          <p class="small">昨天 17：00</p>
                        </div>
                      </div>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                        <span>查看所有项目动态</span>
                      </a>
                  </li>
                </ul>
            </div>
          </div>