
<div class="col-md-2 mt-15">
	<div class="panel-wrap">
		
	 	<div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			    <div class="panel-heading p-0" role="tab">
			      <p class="panel-title ">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
			          <span>我的项目</span>
			          <!-- <span class="pull-right glyphicon glyphicon-minus-sign orange"></span> --> 
			          </a></p><div class="fancy"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					    <h2>
					    <span class="ribbon-center glyphicon glyphicon-list-alt"></span>
					  </h2>
					
					</a></div><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        </a>
			        
			      <p></p>
			    </div>
			    <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			         <ul class="center">
					
						<li class="active"><a href="#">我发布的</a></li>
						<li><a href="#">我收藏的</a></li>
						<li><a href="#">我参与的</a></li>
						<li><a href="#">我完成的</a></li>
					</ul>
			      </div>
			    </div>
			</div>
	 	</div>
	 	<div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			    <div class="panel-heading p-0" role="tab">
			      <p class="panel-title ">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
			          <span>我的任务</span>
			          <!-- <span class="pull-right glyphicon glyphicon-minus-sign orange"></span> --> 
			          </a></p><div class="fancy"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					    <h2>
					    <span class="ribbon-center glyphicon glyphicon-file"></span>
					  </h2>
					
					</a></div><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			        </a>
			        
			      <p></p>
			    </div>
			    <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			         <ul class="center">
					
						<li class="active"><a href="#">我报名的</a></li>
						<li><a href="#">我承接的</a></li>
						<li><a href="#">承接审核</a></li>
					</ul>
			      </div>
			    </div>
			</div>
	 	</div>
	</div>
</div>
