



<div class="container">
	<div class="info-personal pb-0">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>通江路丰城国际大厦设计项目 <span class="glyphicon glyphicon-star orange"></span></h4>
			</div>
			<ul id="project-deail-task" class="nav nav-tabs nav-inline" role="tablist">
			    <li role="presentation"  class="active" ><a href="#task1" id="task1-tab" role="tab" data-toggle="tab" aria-controls="task1" aria-expanded="true">任务</a></li>
			    <li role="presentation" ><a href="#task2" role="tab" id="task2-tab" data-toggle="tab" aria-controls="task2" aria-expanded="false">文件</a></li>
			    <li role="presentation"><a href="#task3" role="tab" id="task3-tab" data-toggle="tab" aria-controls="task3" aria-expanded="false">讨论</a></li>
			    <li role="presentation" ><a href="#task4" role="tab" id="task4-tab" data-toggle="tab" aria-controls="task4" aria-expanded="false">日程</a></li>
		    </ul>
		    <div class="pull-right mt-10">
		    	<ul class="detail-ul-02">
		    		<li>
		    			<div class="dropdown">
		    				<a href="#" class="dropdown-toggle" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    				<i class="glyphicon glyphicon-user"> 2</i>
			    			</a>
			    			<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
			    				<h5 class="text-center gray">项目成员</h5>
			    			 	<li role="separator" class="divider"></li>
								<div class="p-10">
									<input type="text" class="form-control mb-15" placeholder="搜索成员">
									<a href="#">
										<i class="glyphicon glyphicon-plus-sign blue-01"></i>

										<span class="blue-01">邀请新成员</span>
									</a>

								</div>
								
								<li>
									<a href="#">
										<div class="media">
										      <div class="media-left">
										          <img class="media-object img-circle"  alt="64x64" src="/images/avatar.png"  style="width: 35px; height: 35px;">
										      </div>
										      <div class="media-body small gray">
										        <h6 class="media-heading">张三</h6>
										         <i class="glyphicon glyphicon-certificate"></i>
										         <span class="mr-15">认证会员</span>
										         <i class="glyphicon glyphicon-phone"></i>
										          <span>13912132568</span>
										      </div>
										    </div>
										<!-- <img src="/images/avatar.png" alt="" class="img-responsive img-circle d-i" style="width:35px;">
										<span>张三</span> -->
									</a>
								</li>
								<li >
									<a href="#">
										<div class="media">
										      <div class="media-left">
										          <img class="media-object img-circle"  alt="64x64" src="/images/avatar.png"  style="width: 35px; height: 35px;">
										      </div>
										      <div class="media-body small gray">
										        <h6 class="media-heading">李四</h6>
										         <i class="glyphicon glyphicon-certificate"></i>
										         <span class="mr-15">认证会员</span>
										         <i class="glyphicon glyphicon-phone"></i>
										          <span>13912132568</span>
										      </div>
										    </div>
										<!-- <img src="/images/avatar.png" alt="" class="img-responsive img-circle d-i" style="width:35px;">
										<span>张三</span> -->
									</a>
								</li> 
							</ul>
		    			</div>
		    		</li>
		    		<li>
		    			<a href="#"><i class="glyphicon glyphicon-indent-left"> 筛选</i></a>
		    		</li>
		    		<li>
		    			<a href="#" class=" toggle-right" data-toggle="sidebar" data-target=".sidebar-right"><i class="glyphicon glyphicon-list"> 菜单</i>
		    			</a>
		    			
		    		</li>
		    	</ul>
		    </div>
		    <div class="clearfix"></div>
		</div>
		<div id="project-deail" class="tab-content ">
			<div role="tabpanel" class="tab-pane   active in " id="task1" aria-labelledby="task1-tab">
				<div class="row full-height">
					<div class="col-md-3 border-right ">
						<div class="form-group mt-15">
						    <input type="text" class="form-control" placeholder="搜索分组">
						</div>
						<div class="detail-task-row">
							<label class="blue-01">任务</label > <label class="gray"> 1/</label ><label class="gray">6</label>
							<div class="dropdown clearfix pull-right">
								<span class=" glyphicon glyphicon-menu-down gray  dropdown-toggle"  id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider" style="left:auto;right:0;">
							         <h5 class="text-center gray">分组菜单</h5>
							        <li role="separator" class="divider"></li>
							        <li><a href="#" class="gray"><i class="glyphicon glyphicon-pencil mr-15"></i>编辑任务分组</a></li>
							        <li><a href="#" class="gray"><i class="glyphicon glyphicon-trash mr-15"></i>删除任务分组</a></li>
							     </ul>
							</div>
							
							<div class="clearfix"></div>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
								    <span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
							<a href="#">
								<i class="glyphicon glyphicon-plus-sign blue-01"></i>
								<span class="gray small">添加任务分组</span>
							</a>
							<div class="task-group">
								<ul>
									<li><a href="#"><i class="glyphicon glyphicon-calendar"></i>  今天的任务</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-unchecked"></i>  未完成的任务</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-check"></i>  已完成的任务</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i>  待认领的任务</a></li>
									<li>
										<div class="dropdown" >
											<a href="#"  class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="glyphicon glyphicon-user"></i>  成员的任务 <span class="caret"></span>
											</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
												<div class="p-10">
													<input type="text" class="form-control" placeholder="查找成员">
												</div>
												
												<li class="p-0 small"><a href="#">
													<img src="/images/avatar.png" alt="" class="img-responsive img-circle d-i" style="width:35px;">
													<span>张三</span>
												</a></li>
												<li  class="p-0 small"><a href="#">
													<img src="/images/avatar.png" alt="" class="img-responsive img-circle d-i" style="width:35px;">
													<span>李四</span>
												</a></li> 
											</ul>
										</div>
										
									</li>
								</ul>
								<ul>
									<li><a href="#"><i class="glyphicon glyphicon-pushpin"></i>  取消固定任务分组栏</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-9 silde-right-bar silde-right-bar main">
			      		<div class="tab-task-wrap">
			      			<div class="row mt-15">
			      				<div class="col-md-4">
			      					<div class="add-task-box add-task-event">
			      						<div class="add-task p-10">
			      							<i class="glyphicon glyphicon-plus-sign"></i>
					      					<span>添加任务分类......</span>
			      						</div>
			      						<div class="task-save p-10">
			      							<form>
			      								<div class="form-group">
												    <input type="text" class="form-control" placeholder="输入任务名称">
												</div>
												<div class="form-group pull-right">
												    <a href="#" class="gray cancel">取消</a>
												    <button class="btn btn-primary btn-sm ml-20" id="save"> 保存</button>
												</div>
												<div class="clearfix"></div>
			      							</form>
			      						</div>
					      			</div>
					      			<div class="add-task-box task-pannel">
			      						<div class="task-title">
			      							<span class="task-name">建筑</span>
			      							
			      							<div class="dropdown clearfix pull-right">
												<span class=" glyphicon glyphicon-menu-down gray  dropdown-toggle"  id="dropdownMenuTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuTask" style="left:auto;right:0;margin-right:-80px;">
											         <h5 class="text-center gray">分类菜单</h5>
											        <li role="separator" class="divider"></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-pencil mr-15"></i>编辑分类</a></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-plus-sign mr-15"></i>在此后添加新分类</a></li>
											        <li role="separator" class="divider"></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-user mr-15"></i>设置本分类所有任务执行者</a></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-calendar mr-15"></i>设置本分类所有任务截止时间</a></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-save-file mr-15"></i>归档本分类所有任务</a></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-paste mr-15"></i>移动本分类所有任务</a></li>
											        <li role="separator" class="divider"></li>
											        <li><a href="#" class="gray"><i class="glyphicon glyphicon-trash mr-15"></i>删除分类</a></li>
											     </ul>
											</div>
			      						</div>
			      						
			      						<div class="task-body">
			      							<div class="task-list white-bg">
			      								  <div class="checkbox">
												    <label>
												      <input type="checkbox">
												    </label>
												    <img src="/images/avatar.png" alt="" class="img-responsive img-circle">
												    <span class="small">1幢、2幢、3幢</span>
												    <div class="clearfix"></div>
												    <span class="label label-danger glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
												  </div>
			      							</div>
			      							<div class="task-list white-bg">
			      								  <div class="checkbox">
												    <label>
												      <input type="checkbox">
												    </label>
												    <img src="/images/avatar.png" alt="" class="img-responsive img-circle">
												    <span class="small">1幢、2幢、3幢</span>
												    <div class="clearfix"></div>
												    <span class="label label-danger glyphicon glyphicon-calendar small ml-20"> 周三</span>
												  </div>
			      							</div>
			      							<div class="task-list gray01-bg">
			      								  <div class="checkbox">
												    <label>
												      <input type="checkbox">
												    </label>
												    <img src="/images/avatar.png" alt="" class="img-responsive img-circle">
												    <span class="small delete-line">这是一条已经完成的任务</span>
												    <div class="clearfix"></div>
												    <span class="label label-default glyphicon glyphicon-calendar small ml-20"> 2016-06-01</span>
												  </div>
			      							</div>
			      							<div class="mt-15 p-10">
			      								<a href="#" data-toggle="modal" data-target="#addTaskModal">
			      									<i class="glyphicon glyphicon-plus-sign blue-01"></i>
			      							 		<span class="blue-01">添加任务</span>
			      								</a>
			      							</div>
			      						</div>
					      			</div>
			      				</div>
			      			</div>
			      		</div>
					</div>
					<div class="col-md-3 sidebar sidebar-right sidebar-animate">
				         <div class=" slideout-menu">
						  	<div class="menu-title menu-line">
						  		<h5>项目菜单</h5>
						  	</div>

						  	<ul class="menu-project-list  gray">
						  		<li>
						      		<a href="#" data-toggle="modal" data-target="#projectSetModal">
						      			<i class="glyphicon glyphicon-cog"></i>
						      			<span>项目设置</span>
						      		</a>
						  		</li>
						  		<li>
						      		<a href="#">
						      			<i class="glyphicon glyphicon-tag"></i>
						      			<span>标签</span>
						      		</a>
						  		</li>
						  		<li>
						      		<a href="#">
						      			<i class="glyphicon glyphicon-bell"></i>
						      			<span>任务统计</span>
						      		</a>
						      		<div class="row mt-10">
						      			<div class="col-md-6 p-0">
											<div class="ml-20">
												<p class="small">待认领的任务</p>
						      					<h4 class="orange h-b m-0">5 </h4>
											</div>
						      				
						      			</div>

						      			<div class="col-md-6 p-0">
						      				<div class="ml-20">
						      					<p class=" small">今天的事</p>
						      					<h4 class="blue h-b m-0">2 </h4>
						      				</div>
						      				
						      			</div>
						      		</div>
						  		</li>
						  		<li>
						      		<a href="#">
						      			<i class="glyphicon glyphicon-align-left"></i>
						      			<span>项目动态</span>
						      			<div class="media media-menu">
									      <div class="media-left">
									        <a href="#">
									          <img class="img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width:30px; height: 30px;">
									        </a>
									      </div>
									      <div class="media-body">
									        <h6 class="media-heading">李五<span class="small"> 创建了日程：</span></h6>
									        <p class="small"><span>周一 16：00-周一 17：00</span><span class="ml-20">开会</span></p>
									        <p class="small">昨天 17：00</p>
									      </div>
									    </div>
						      		</a>
						  		</li>
						  		<li>
						      		<a href="#">
						      			<i class="glyphicon glyphicon-zoom-in"></i>
						      			<span>查看所有项目动态</span>
						      		</a>
						  		</li>
						  	</ul>
						</div>
					</div>
					<!-- col-md-9 end -->
				</div>
			</div>
			<div role="tabpane2" class="tab-pane " id="task2" aria-labelledby="task2-tab">
				<div class="row full-height">
					<div class="col-md-3 border-right ">
						<div class="form-group mt-15 mb-0">
						    <input type="text" class="form-control" placeholder="搜索项目或成员">
						</div>
						<div class="detail-task-row pt-10">							
							<div class="task-group">
								<ul>
									<li><a href="#"><i class="glyphicon glyphicon-user"></i>  所有成员<i class="glyphicon glyphicon-ok pull-right"></i></a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
					<div class="col-md-9 silde-right-bar">
						<div class="border-bottom p-10">
							 <h4 class="d-i">文件</h4>
				      		  <div class="pull-right">
				      		  	<a href="#" class="blue-01">
				      		  		<i class="glyphicon glyphicon-plus-sign"></i>
				      		  		<span>创建文件夹</span>
				      		  	</a>
				      		  	<a href="#" class="ml-20 blue-01">
				      		  		<i class="glyphicon glyphicon-circle-arrow-up"></i>
				      		  		<span>上传文件</span>
				      		  	</a>
							</div>
			      		</div>
					    <table class="table table-hover small gray">
						      <thead>
						        <tr>
						            <td>
							          	<div class="checkbox m-0">
									    	<label>
									      		<input type="checkbox"> 名称
									    	</label>
									  	</div>
									</td>
						          <td>大小</td>
						          <td>创建者</td>
						          <td>更新时间</td>
						          <td></td>
						        </tr>
						      </thead>
						      <tbody>
						        <tr>
						          <td>
						          	    <div class="checkbox m-0">
									    	<label>
									      		<input type="checkbox"> 图片
									    	</label>
									  	</div>
						          </td>
						          <td>Mark</td>
						          <td>张三</td>
						          <td>2016-06-24</td>
						          <td>
						          	  <a href="#">
						          	  	<i class="glyphicon glyphicon-file gray"></i>
						          	  </a>
						          	  <a href="#">
						          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
						          	  </a>
						          </td>
						        </tr>
						        <tr>
						          <td>
						          		<div class="checkbox m-0">
									    	<label>
									      		<input type="checkbox"> 文档
									    	</label>
									  	</div>
						          </td>
						          <td>Jacob</td>
						          <td>李四</td>
						          <td>2016-06-24</td>
						          <td></td>
						        </tr>
						        
						      </tbody>
						    </table>

					</div>
					<% include _nav-right-sidebar %>
					<!-- col-md-9 end -->
				</div>
			</div>
			<div role="tabpane3" class="tab-pane  " id="task3" aria-labelledby="task3-tab">
				<div class="row full-height">
					<div class="col-md-3">
						<div class="form-group mt-15 mb-0">
						    <input type="text" class="form-control" placeholder="搜索讨论">
						    
						    <a href="#" class="d-b mt-10">
								<i class="glyphicon glyphicon-plus-sign blue-01"></i>
								<span class="gray small h-b">添加讨论</span>
							</a>
						</div>
						<div class="detail-task-row pt-10">							
							<div class="task-group">
								<ul class="notice-list">
						    		<li>
						    			<div class="media">
										    <div class="media-left">
										        <a href="#">
								                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
								                </a>
										      </div>
										      <div class="media-body">
										        <h5 class="media-heading orange">李四
										        	<span class="glyphicon glyphicon-calendar small ml-20 "> 2016-08-14</span>
										        </h5>
										        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
										       
										      </div>
										</div>
						    		</li>
						    		<li>
						    			<div class="media">
										    <div class="media-left">
										      
										        <a href="#">
								                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
								                </a>
										       
										      </div>
										      <div class="media-body">
										        <h5 class="media-heading orange">
										        	<span class="text-overflow-width">张三</span>
										        	<span class="glyphicon glyphicon-calendar gray small ml-20 "> 2016-08-14</span>
										        </h5>
										        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
										       
										      </div>
										</div>
						    		</li>
						    	</ul>
								
							</div>
						</div>
					</div>
					<div class="col-md-9 silde-right-bar border-left ">

						<div class="p-15">
							<div class="media">
							    <div class="media-left">
							      
							        <a href="#">
					                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
					                </a>
							       
							      </div>
							      <div class="media-body">
							        <h5 class="media-heading orange">
							        	<span class="text-overflow-width">张三</span>
							        	<span class="glyphicon glyphicon-calendar gray small ml-20 "> 2016-08-14</span>
							        </h5>
							        <p class="gray ">系统将在下午4点整进行维护，请注意查收。</p>
							        <hr>
							        <p class="gray">文章透过几个非常的简单的问题从浅入深，一步步去面试对方的技术水平，非常值得大家学习，并且重新温习前端最基础但却足够验证一个面试者的技术水平</p>
							      </div>
							</div>
							<hr>
							<div class="message-box">
								<ul class="messages-bank p-15">
						    		<li>
						    			<div class="media">
										    <div class="media-left">
										        <a href="#">
								                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
								                </a>
										      </div>
										      <div class="media-body">
										        <h5 class="media-heading orange">李四
										        	<span class="glyphicon glyphicon-calendar small ml-20 "> 2016-08-14</span>
										        </h5>
										        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
										       
										      </div>
										</div>
						    		</li>
						    		<li>
						    			<div class="media">
										    <div class="media-left">
										      
										        <a href="#">
								                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
								                </a>
										       
										      </div>
										      <div class="media-body">
										        <h5 class="media-heading orange">
										        	<span class="text-overflow-width">张三</span>
										        	<span class="glyphicon glyphicon-calendar gray small ml-20 "> 2016-08-14</span>
										        </h5>
										        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
										       
										      </div>
										</div>
						    		</li>
						    	</ul>
						    	<div class="message-area">

						    		<h5><i class="glyphicon glyphicon-edit orange"></i>
						    			<span>发表回复</span>
						    		</h5>
						    		<div class="form-group">
							             <textarea class="form-control" rows="3" placeholder="请发表回复"></textarea>
							             
							        </div>
							        <button class="btn btn-primary btn-sm pull-right">回复</button>
							        <div class="clearfix"></div>
						    	</div>
							    
							</div>
						</div>
					</div>
					<% include _nav-right-sidebar %>
					<!-- col-md-9 end -->
				</div>
			</div>
			<div role="tabpane4" class="tab-pane" id="task4" aria-labelledby="task4-tab">
				<div class="row full-height">
					<div class="col-md-3  border-right ">
						<div class="form-group mt-15 mb-0">
						    <input type="text" class="form-control" placeholder="搜索项目或成员">
						</div>
						<div class="detail-task-row pt-10">							
							<div class="task-group">
								<ul>
									<li><a href="#"><i class="glyphicon glyphicon-user"></i>  所有成员<i class="glyphicon glyphicon-ok pull-right"></i></a></li>
									
								</ul>
								
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#calendarStrokeModal">添加行程</button>
						<div id="calendar" class="mt-15"></div>
						
					</div>
					<% include _nav-right-sidebar %>
				</div>
		
			</div>
		</div>

	</div>
</div>











<% include ../_modals %>