<div class="container">
	<div class="row">
		<% include _user-left %>
		<div class="col-md-10 ">
			<div class="info-personal">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>我发布的</h4>
					</div>

					<ul id="project-collect" class="nav nav-tabs nav-inline" role="tablist">
				      <li role="presentation" ><a href="#release1" id="release1-tab" role="tab" data-toggle="tab" aria-controls="release1" aria-expanded="true">市政工程</a></li>
				      <li role="presentation" class="active"><a href="#release2" role="tab" id="release2-tab" data-toggle="tab" aria-controls="release2" aria-expanded="false">建筑工程</a></li>
				      <li role="presentation" class=""><a href="#release3" role="tab" id="release3-tab" data-toggle="tab" aria-controls="release3" aria-expanded="false">规划工程</a></li>
				      <li role="presentation" class=""><a href="#release4" role="tab" id="release4-tab" data-toggle="tab" aria-controls="collect4" aria-expanded="false">景观工程</a></li>
				      
				    </ul>
				    <div class="pull-right add-project" data-toggle="modal" data-target="#addprojectModal">
				    	<i class="glyphicon glyphicon-plus-sign normal"></i>
				    	<span>发布项目</span>
				 
				    </div>
				    <div class="clearfix"></div>
				    
				</div>
				<div id="release" class="tab-content ">
				      <div role="tabpanel" class="tab-pane   mt-15" id="release1" aria-labelledby="release1-tab">
				        <div class="row">
				        	<div class="col-md-3">
				        		
				        	</div>
				        	<div class="col-md-9"></div>
				        </div>
				      </div>
				      <div role="tabpanel" class="tab-pane   active in " id="release2" aria-labelledby="release2-tab">
				       <div class="gray-bottom-border">
					        <div class="row">
					        	<div class="col-md-3">
					        		<a href="#">
					         			<div class="img-fit-box">
						         			<img src="/images/img02.jpg" alt="" class="img-responsive">
						         			<div class="img-mask">
						         				<p><span class="ml-0">应聘专业:建筑、结构、土建、给排水</span></p>
						         			</div>
						         		</div>
					         		</a>
					        	</div>
					        	<div class="col-md-9">
					        		<div class="media-right-wrap">
					        			<p class="pull-left">
					        				<a href="/myfiles/index/1">通江路丰城国际大厦设计项目</a></p>
					        			<div class="pull-right">
					        				<i class="glyphicon glyphicon-exclamation-sign red "></i>
					        				<span class="gray ml-5 mr-15">非常紧急</span>
					        				<i class="glyphicon glyphicon-eye-open gray "></i>
					        				<span class="gray ml-5 mr-15">公开项目</span>
					        				<i class="glyphicon glyphicon-star orange"></i>
					        				<span class="gray ml-5 mr-15">已收藏</span>
					        			</div>
					        			<div class="clearfix"></div>
					        			<p class="gray-01">
					        				<span class="mr-15">发布者：<span>张三</span></span>
					        				<span class="mr-15">项目类型：<span>建筑工程</span></span>
					        				<span class="mr-15">发布日期：<span>2016-04-10</span></span>
					        				<span>计划结束时间：<span>2016-10-10</span></span>
					        			</p>
					        			<ul>
					        				<li>
				        						<div class="checkbox" style="display:inline;">
												    <label>
												      <input type="checkbox">
												    </label>
												 </div>
				        						<i class="glyphicon glyphicon-user"></i>
				        						<sapn>1幢、2幢、3幢 <span class="gray-01 small">#建筑</span></sapn>
				        						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 昨天</span>
				        						<button class="btn btn-danger btn-sm pull-right">过期任务</button>
					        				</li>
					        				<li>
				        						<div class="checkbox" style="display:inline;">
												    <label>
												      <input type="checkbox">
												    </label>
												 </div>
				        						<i class="glyphicon glyphicon-user"></i>
												<span>售楼处 <span class="gray-01 small">#土建</span></span>
												<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
												<button class="btn btn-info btn-sm pull-right">承接任务</button>

					        				</li>
					        			</ul>
					        		</div>
					        	</div>
					        </div>
				        </div>
						<div class="gray-bottom-border">
							<div class="row">
					        	<div class="col-md-3">
					        		<a href="#">
					         			<div class="img-fit-box">
						         			<img src="/images/img02.jpg" alt="" class="img-responsive">
						         			<div class="img-mask">
						         				<p><span class="ml-0">应聘专业:建筑、结构、土建、给排水</span></p>
						         			</div>
						         		</div>
					         		</a>
					        	</div>
					        	<div class="col-md-9">
					        		<div class="media-right-wrap">
					        			<p class="pull-left"><a href="">通江路丰城国际大厦设计项目</a></p>
					        			<div class="pull-right">
					        				<i class="glyphicon glyphicon-exclamation-sign orange"></i>
					        				<span class="gray ml-5 mr-15">紧急</span>
					        				<i class="glyphicon glyphicon-eye-close gray "></i>
					        				<span class="gray ml-5 mr-15">私有项目</span>
					        				<i class="glyphicon glyphicon-star-empty orange"></i>
					        				<span class="gray ml-5 mr-15">未收藏</span>
					        			</div>
					        			<div class="clearfix"></div>
					        			<p class="gray-01">
					        				<span class="mr-15">发布者：<span>张三</span></span>
					        				<span class="mr-15">项目类型：<span>建筑工程</span></span>
					        				<span class="mr-15">发布日期：<span>2016-04-10</span></span>
					        				<span>计划结束时间：<span>2016-10-10</span></span>
					        			</p>
					        			<ul>
					        				<li>
					        					<p>
					        					    <div class="checkbox" style="display:inline;">
													    <label>
													      <input type="checkbox">
													    </label>
													 </div>
					        						<i class="glyphicon glyphicon-user"></i>
					        						<sapn>1幢、2幢、3幢 <span class="gray-01 small">#建筑</span></sapn>
					        						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 昨天</span>
					        						<button class="btn btn-info btn-sm pull-right">承接任务</button>


					        					</p>
					        				</li>
					        				<li>
					        					<p> 
					        					    <div class="checkbox" style="display:inline;">
													    <label>
													      <input type="checkbox">
													    </label>
													 </div>
					        						<i class="glyphicon glyphicon-user"></i>
													<span>售楼处 <span class="gray-01 small">#土建</span></span>
													<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
													<button class="btn btn-warning btn-sm pull-right">已经报名</button>
					        					</p>
					        				</li>
					        			</ul>
					        		</div>
					        	</div>
					        </div>
						</div>
						<div class="gray-bottom-border">
							<div class="row">
					        	<div class="col-md-3">
					        		<a href="#">
					         			<div class="img-fit-box">
						         			<img src="/images/img02.jpg" alt="" class="img-responsive">
						         			<div class="img-mask">
						         				<p><span class="ml-0">应聘专业:建筑、结构、土建、给排水</span></p>
						         			</div>
						         		</div>
					         		</a>
					        	</div>
					        	<div class="col-md-9">
					        		<div class="media-right-wrap">
					        			<p class="pull-left"><a href="">通江路丰城国际大厦设计项目</a></p>
					        			<div class="pull-right">
					        				<i class="glyphicon glyphicon-exclamation-sign gray "></i>
					        				<span class="gray ml-5 mr-15">普通</span>
					        				<i class="glyphicon glyphicon-eye-open gray"></i>
					        				<span class="gray ml-5 mr-15">公开项目</span>
					        				<i class="glyphicon glyphicon-star-empty orange"></i>
					        				<span class="gray ml-5 mr-15">未收藏</span>
					        			</div>
					        			<div class="clearfix"></div>
					        			<p class="gray-01">
					        				<span class="mr-15">发布者：<span>张三</span></span>
					        				<span class="mr-15">项目类型：<span>建筑工程</span></span>
					        				<span class="mr-15">发布日期：<span>2016-04-10</span></span>
					        				<span>计划结束时间：<span>2016-10-10</span></span>
					        			</p>
					        			<ul>
					        				<li>
					        					<p>
					        						<div class="checkbox" style="display:inline;">
													    <label>
													      <input type="checkbox">
													    </label>
													 </div>
					        						<i class="glyphicon glyphicon-user"></i>
					        						<sapn>1幢、2幢、3幢 <span class="gray-01 small">#建筑</span></sapn>
					        						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-10-01</span>
					        						<button class="btn btn-success btn-sm pull-right">已经参与</button>


					        					</p>
					        				</li>
					        				<li>
					        					<p>
					        						<div class="checkbox" style="display:inline;">
													    <label>
													      <input type="checkbox">
													    </label>
													 </div>
					        						<i class="glyphicon glyphicon-user"></i>
													<span>售楼处 <span class="gray-01 small">#土建</span></span>
													<span class="label label-success glyphicon glyphicon-calendar small ml-20"> 昨天</span>
													<button class="btn btn-default btn-sm pull-right">已经完成</button>
					        					</p>
					        				</li>
					        			</ul>
					        		</div>
					        	</div>
					        </div>
						</div>
				      </div>
				      <div role="tabpanel" class="tab-pane   mt-15" id="release3" aria-labelledby="release3-tab">
				      3
				      </div>
				      <div role="tabpanel" class="tab-pane   mt-15" id="release4" aria-labelledby="release4-tab">
				      4
				      </div>
				</div>
			</div>
			
			<!--我报名的-->
			<div class="info-personal">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>我报名的</h4>
					</div>
					<div class="pull-right">
				    	<ul class="detail-ul-02">
				    		<li>
				    			<a href="#" > <i class="glyphicon glyphicon-sort">排序</i></a>
				    		</li>
				    		<li>
				    			<a href="#"><i class="glyphicon glyphicon-indent-left"> 筛选</i></a>
				    		</li>
				    	</ul>
				    </div>
				    <div class="clearfix"></div> 
				</div>
				<div class="media-right-wrap">
					<ul class="p-10">
	    				<li>
    						<div class="checkbox" style="display:inline;">
							    <label>
							      <input type="checkbox">
							    </label>
							 </div>
    					
    						<sapn>巫山路软件园E座设计项目<span class="small ml-20">商场:1层、2层</span><span class="gray-01 small ml-20">#建筑</span></sapn>
    						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-06-21</span>
    						<button class="btn btn-warning btn-sm pull-right">已经报名</button>
	    				</li>
	    			</ul>
				</div>
			</div>
			<!--承接申核-->
			<div class="info-personal">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>承接审核</h4>
					</div>
					<div class="pull-right">
				    	<ul class="detail-ul-02">
				    		<li>
				    			<a href="#" > <i class="glyphicon glyphicon-sort">排序</i></a>
				    		</li>
				    		<li>
				    			<a href="#"><i class="glyphicon glyphicon-indent-left"> 筛选</i></a>
				    		</li>
				    	</ul>
				    </div>
				    <div class="clearfix"></div> 
				</div>
				<div class="media-right-wrap">
					<ul class="p-10">
	    				<li>
    						<div class="checkbox" style="display:inline;">
							    <label>
							      <input type="checkbox">
							    </label>
							 </div>
    					
    						<sapn>巫山路软件园E座设计项目<span class="small ml-20">商场:1层、2层</span><span class="gray-01 small ml-20">#建筑</span></sapn>
    						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-06-21</span>
    						<button class="btn btn-success btn-sm pull-right"  data-toggle="modal" data-target="#cjshModal">承接审核</button>
	    				</li>
	    	
	    			</ul>
				</div>
			</div>
				
			<!--我承接的-->
			<div class="info-personal">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>我承接的</h4>
					</div>
					<div class="pull-right">
				    	<ul class="detail-ul-02">
				    		<li>
				    			<a href="#" > <i class="glyphicon glyphicon-sort">排序</i></a>
				    		</li>
				    		<li>
				    			<a href="#"><i class="glyphicon glyphicon-indent-left"> 筛选</i></a>
				    		</li>
				    	</ul>
				    </div>
				    <div class="clearfix"></div> 
				</div>
				<div class="media-right-wrap">
					<ul class="p-10">
	    				<li>
    						<div class="checkbox" style="display:inline;">
							    <label>
							      <input type="checkbox">
							    </label>
							 </div>
    					
    						<sapn>巫山路软件园E座设计项目<span class="small ml-20">商场:1层、2层</span><span class="gray-01 small ml-20">#建筑</span></sapn>
    						<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-06-21</span>
    						<button class="btn btn-success btn-sm pull-right"   data-toggle="modal" data-target="#havetoUndertakeModal">已经承接</button>
	    				</li>
	    	
	    			</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<% include ../_modals %>