
<div class="container">
	<div class="info-personal pb-0">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>日历 </h4>
			</div>
		</div>
	
		<div class="row full-height">
			<div class="col-md-3 border-right ">
				<div class="form-group mt-15 mb-0">
				    <input type="text" class="form-control" placeholder="搜索项目或成员">
				</div>
				<div class="detail-task-row pt-10">							
					<div class="leftsiderbar-top-box">
						<a href="#" class="gray"><i class="glyphicon glyphicon-book"></i>  所有项目<i class="glyphicon glyphicon-ok pull-right"></i></a>
						    <ul>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
								<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>

							</ul>
					</div>
					<hr>
					<div class="leftsiderbar-top-box">
						<a href="#" class="gray"><i class="glyphicon glyphicon-user"></i>  所有成员

						<ul>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
							<li><a href="#"><img src="/images/avatar.png" class="img-circle img-list" alt="" style="height:25px;">张三</a></li>
						

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 ">
				<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#calendarStrokeModal">添加行程</button>
				<div id="calendar" class="mt-15"></div>
			</div>
		</div>
	</div>
</div>



<% include ../_modals %>