<nav class="nav-bar">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-2">
				<img src="/images/designerLogo.png" alt="" class="img-responsive">
			</div> -->
			<div class="col-md-9">
				<nav class="navbar ">
			        <div class="container-fluid">
			          <div class="navbar-header">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			              <span class="sr-only">Toggle navigation</span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			              <span class="icon-bar"></span>
			            </button>
			          <a class="navbar-brand" href="/userCenter/info"><img src="/images/userlogo.png"  alt="Brand" class="img-responsive">

			          </a>
			          </div>
			          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
			            <ul class="nav navbar-nav navbar-right navbar-right-select">
			              <li class=" selected"><a href="/userCenter/info"><i class="glyphicon glyphicon-home"></i> 个人信息</a></li>
			              <li><a href="/userCenter/security-via"><i class="glyphicon glyphicon-folder-open"></i> 安全认证</a></li>
			              <li><a href="/userCenter/asset-manage"><i class="glyphicon glyphicon-user"></i> 资产管理</a></li>
			      
			            </ul>
			           
			          </div><!--/.nav-collapse -->
			        </div><!--/.container-fluid -->
			      </nav>
			</div>
			<div class="col-md-3">
				<div class="form-group nav-search-box">
					<input type="text" class="form-control">
					<i class="glyphicon glyphicon-search"></i>
				</div>
			</div>
		</div>
	</div>
</nav>




