<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="footer-left pull-left">
					<span>版权所有@&copy;2016:【设计师平台】  沪ICP备15025280号</span>
				</div>
				<div class="pull-right">
					<ul class="footer-ul-list">
						<li><a href="#">关于我们</a> | </li>
						<li><a href="#">联系方式</a> |</li>
						<li><a href="#">平台协议</a> |</li>
						<li><a href="#">电话:400-400-400</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>