<header>
	<div class="container">
		<div class="header-wrap">
			<div class="header-left pull-left hidden-xs">
				<span>欢迎您来到-设计师平台！</span>
			</div>
			<div class="header-right pull-right">
				<ul class="header-ul-list">
					<li class="pl"><a href="/userCenter/notice"><i class="glyphicon glyphicon-bell"></i><span class="badge">4</span></a></li>
					<li id="username"><a href="#"><i class="glyphicon glyphicon-user"></i> 张三</a></li>
					 <li><a href="/login">登录</a></li>
					<li><a href="#"> | </a></li>
					<li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
					<li><a href="#"><i class="glyphicon glyphicon-question-sign"></i></a></li>
				</ul>
			</div>
			<div class="user-info">
				<div class="user-info-header">
					<img src="/images/img01.jpg" alt="" class=" img-responsive blur">
					<img src="/images/img01.jpg" alt="" class="img-circle img-responsive user-avatar">
				</div>
				<div class="user-info-body">
					<div class="form-horizontal">
						  <div class="form-group">
							    <label class="col-xs-6 col-sm-6 control-label">实名会员</label>
							    <div class="col-xs-6 col-sm-6">
							       <i class="glyphicon glyphicon-certificate"></i>
							    </div>
						  </div>
						  <div class="form-group">
							    <label  class="col-xs-6 col-sm-6 control-label">邮箱认证</label>
							    <div class="col-xs-6 col-sm-6">
							      <i class="glyphicon glyphicon-envelope"></i>
							    </div>
						  </div>
						  <div class="form-group">
							    <label  class="col-xs-6 col-sm-6 control-label">手机已绑定</label>
							    <div class=" col-xs-6 col-sm-6">
							      <i class="glyphicon glyphicon-phone"></i>
							    </div>
						  </div>
						  <div class="form-group">
							    <label  class="col-xs-6 col-sm-6 control-label">注册时间</label>
							    <div class=" col-xs-6 col-sm-6">
							      <i class="glyphicon glyphicon-envelope"></i>
							    </div>
						  </div>
						  <div class="form-group">
						    <label  class=" col-xs-6 col-sm-6 control-label">性别</label>
							    <div class=" col-xs-6 col-sm-6">
							      <span>女</span>
							    </div>
						  </div>
						  <div class="form-group">
							    <label  class="col-xs-6 col-sm-6 control-label">财富</label>
							    <div class=" col-xs-6 col-sm-6">
							     <span>356台币</span>
							    </div>
							 </div>
						  
						  </div>
						  <ul class="user-info-list">
						  	<li><a href="/personalCenter/index">个人中心</a></li>
						  	<li><a href="/userCenter/info">用户中心</a></li>
						  	<li><a href="#">资产管理</a></li>
						  	<li><a href="#">退出</a></li>
						  </ul>
					</div>
					
				</div>
			</div>
		</div>
		

</header>