<!-- 项目设置 模态框 -->
<div id="projectSetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectSetModal" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-title" id="gridModalLabel">
              <img src="/images/img03.jpg" alt="" class="img-responsive">
              <div class="black-mask">
                <div class="mask-content">
                  <h3>通江路丰城国际大厦设计项目</h3>
                  <p>私有项目</p>
                </div>
                
              </div>
          </div>
        </div>
        <div class="modal-body">

      <ul id="myTabs" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">项目信息</a></li>
          <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">成员管理</a></li>
        </ul>
        <div id="myTabContent" class="tab-content p-30">

            <div role="tabpanel" class="tab-pane  active in" id="home" aria-labelledby="home-tab">
                <form>
            <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="示例项目">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">项目类别</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                 <textarea class="form-control" rows="3" placeholder="介绍一下这个项目"></textarea>
            </div>
          </form>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <i class="glyphicon glyphicon-lock gray"></i>
              <select class="form-control select-no-border">
                  <option>私有项目</option>
                  <option>公开项目</option>
                  
              </select>
            </div>
            <div class="col-md-3">
              <i class="glyphicon glyphicon-info-sign orange"></i>
              <select class="form-control select-no-border">
                  <option>非常紧急</option>
                  <option>紧急</option>
                  
              </select>
            </div>
            <div class="col-md-4 pull-right">
              <div class="col-md-10 pull-right">
                <button type="button" class="btn btn-info btn-sm pull-right btn-block">保存</button>
              </div>
              
            </div>
          </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="profile" aria-labelledby="profile-tab">
            <form>
          <div class="form-group">
              <label for="exampleInputEmail1">邀请成员</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="输入邮箱/手机号 回车确认">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">项目成员列表</label>
              <div class="clearfix"></div>
                <ul>
                  <li>
                    <img src="/images/avatar.png" alt="" class="img-responsive img-circle img-list">
                    <span>李四</span>

                    <div class="dropdown-menu-wrap pull-right">
                      <span class="dropdown-toggle gray" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        拥有者
                          <span class="glyphicon glyphicon-menu-down"></span>
                        </span>
                      <ul class="dropdown-menu " aria-labelledby="dropdownMenuDivider">
                          <li><a href="#">拥有者</a></li>
                          <li><a href="#">管理员</a></li>
                          <li><a href="#">成员</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">移除成员</a></li>
                       </ul>
                    </div>
                  </li>
                  <li>
                    <img src="/images/avatar.png" alt="" class="img-responsive img-circle img-list">
                    <span>张三</span>

                    <div class="dropdown-menu-wrap pull-right">
                      <span class="dropdown-toggle gray" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        拥有者
                          <span class="glyphicon glyphicon-menu-down"></span>
                        </span>
                      <ul class="dropdown-menu " aria-labelledby="dropdownMenuDivider">
                          <li><a href="#">拥有者</a></li>
                          <li><a href="#">管理员</a></li>
                          <li><a href="#">成员</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">移除成员</a></li>
                       </ul>
                    </div>
                  </li>
                </ul>
          </div>
        </form>
        <hr>
          <div class="row">
            <div class="col-md-3">
              <i class="glyphicon glyphicon-lock gray"></i>
              <select class="form-control select-no-border">
                  <option>私有项目</option>
                  <option>公开项目</option>
                  
              </select>
            </div>
            <div class="col-md-3">
              <i class="glyphicon glyphicon-info-sign orange"></i>
              <select class="form-control select-no-border">
                  <option>非常紧急</option>
                  <option>紧急</option>
                  
              </select>
            </div>
            <div class="col-md-4 pull-right">
              <div class="col-md-10 pull-right">
                <button type="button" class="btn btn-info btn-sm pull-right btn-block">保存</button>
              </div>
            </div>
          </div>
            </div>
        </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div>

<!-- 发布项目  模态框 -->
<div id="addprojectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addprojectModal" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-title" id="gridModalLabel">
              <img src="/images/img03.jpg" alt="" class="img-responsive">
              <div class="black-mask">
                <div class="mask-content">
                  <h3>通江路丰城国际大厦设计项目</h3>
                  <p>私有项目</p>
                </div>
                
              </div>
          </div>
        </div>
        <div class="modal-body">

      <ul id="myTabs" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">项目信息</a></li>
          <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">成员管理</a></li>
        </ul>
        <div id="myTabContent" class="tab-content p-30">

            <div role="tabpanel" class="tab-pane  active in" id="home" aria-labelledby="home-tab">
                <form>
            <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="示例项目">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">项目类别</label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">项目名称</label>
                 <textarea class="form-control" rows="3" placeholder="介绍一下这个项目"></textarea>
            </div>
          </form>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <i class="glyphicon glyphicon-lock gray"></i>
              <select class="form-control select-no-border">
                  <option>私有项目</option>
                  <option>公开项目</option>
                  
              </select>
            </div>
            <div class="col-md-3">
              <i class="glyphicon glyphicon-info-sign orange"></i>
              <select class="form-control select-no-border">
                  <option>非常紧急</option>
                  <option>紧急</option>
                  
              </select>
            </div>
            <div class="col-md-4 pull-right">
              <div class="col-md-10 pull-right">
                <button type="button" class="btn btn-info btn-sm pull-right btn-block">保存</button>
              </div>
              
            </div>
          </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="profile" aria-labelledby="profile-tab">
            <form>
          <div class="form-group">
              <label for="exampleInputEmail1">邀请成员</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="输入邮箱/手机号 回车确认">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">项目成员列表</label>
              <div class="clearfix"></div>
                <ul>
                  <li>
                    <img src="/images/avatar.png" alt="" class="img-responsive img-circle img-list">
                    <span>李四</span>

                    <div class="dropdown-menu-wrap pull-right">
                      <span class="dropdown-toggle gray" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        拥有者
                          <span class="glyphicon glyphicon-menu-down"></span>
                        </span>
                      <ul class="dropdown-menu " aria-labelledby="dropdownMenuDivider">
                          <li><a href="#">拥有者</a></li>
                          <li><a href="#">管理员</a></li>
                          <li><a href="#">成员</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">移除成员</a></li>
                       </ul>
                    </div>
                  </li>
                  <li>
                    <img src="/images/avatar.png" alt="" class="img-responsive img-circle img-list">
                    <span>张三</span>

                    <div class="dropdown-menu-wrap pull-right">
                      <span class="dropdown-toggle gray" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        拥有者
                          <span class="glyphicon glyphicon-menu-down"></span>
                        </span>
                      <ul class="dropdown-menu " aria-labelledby="dropdownMenuDivider">
                          <li><a href="#">拥有者</a></li>
                          <li><a href="#">管理员</a></li>
                          <li><a href="#">成员</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">移除成员</a></li>
                       </ul>
                    </div>
                  </li>
                </ul>
          </div>
        </form>
        <hr>
          <div class="row">
            <div class="col-md-3">
              <i class="glyphicon glyphicon-lock gray"></i>
              <select class="form-control select-no-border">
                  <option>私有项目</option>
                  <option>公开项目</option>
                  
              </select>
            </div>
            <div class="col-md-3">
              <i class="glyphicon glyphicon-info-sign orange"></i>
              <select class="form-control select-no-border">
                  <option>非常紧急</option>
                  <option>紧急</option>
                  
              </select>
            </div>
            <div class="col-md-4 pull-right">
              <div class="col-md-10 pull-right">
                <button type="button" class="btn btn-info btn-sm pull-right btn-block">保存</button>
              </div>
            </div>
          </div>
            </div>
        </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
 </div>


 <!-- 用户须知 -->
 <div id="undertakeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="undertakeModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title text-center" id="undertakeModalLabel ">项目承接需知</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
              <article>
            
            <ul>
              <h5>一、项目基本情况</h5>
              <li>
                <p>1.建设单位</p>
              </li>
              <li>
                <p>2.项目名称</p>
              </li>
              <li>
                <p>3.项目立项批准文号：长发改[ ]号</p>
              </li>
              <li>
                <p>4.建设地点</p>
              </li>
              <li>
                <p>5.项目概况</p>
              </li>
              <li>
                <p>6.招标范围</p>
              </li>
              <li>
                <p>7.设计工期：合同生效后10天内完成初步设计;初步设计审批后10天内完成施工图设计(根据项目实际情况制定)。</p>
              </li>

              <h5>二、投标人资质要求</h5>
              <li>
                <p>1.投标申请人须在中华人民共和国合法注册、具有独立法人资格，营业执照经年检有效。</p>
              </li>
              <li>
                <p>2.具有中华人民共和国住房和城乡建设部颁发的工程设计综合资质或建筑行业(建筑工程)设计_级及以上资质(或根据项目实际情况制造)。</p>
              </li>
              <li>
                <p>3.项目立项批准文号：长发改[ ]号</p>
              </li>
              <li>
                <p>1.投标申请人须在中华人民共和国合法注册、具有独立法人资格，营业执照经年检有效。</p>
              </li>
              <li>
                <p>2.具有中华人民共和国住房和城乡建设部颁发的工程设计综合资质或建筑行业(建筑工程)设计_级及以上资质(或根据项目实际情况制造)。</p>
              </li>
              <li>
                <p>3.项目立项批准文号：长发改[ ]号</p>
              </li>
            </ul>
        </article>
            </div>
        </div>
        <div class="modal-footer center">

          <button type="button" class="btn btn-default" data-dismiss="modal" id="sureBtn">确认</button>
          <button type="button" class="btn btn-default " data-dismiss="modal" aria-label="Close">取消</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>



  <!-- -- >
  <!-- <button class="btn btn-primary"  data-toggle="modal" data-target="#addTaskModal">测试</button> -->
<div id="addTaskModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title " >
              <h5>任务分组:#土建</h5>
              <h4>售楼处</h4>
          </h4>
        </div>
        <div class="modal-body">
    
             <ul class="task-info-list border-radius">
              <li>
                <p>执行者</p>
                <img src="/images/avatar.png" alt="" class="img-circle img-responsive">
                <span>待认领</span>
              </li>
              <li>
                <p>截止时间</p>
                <span class="label label-primary glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
              </li>
              <li>
                <p>优先级</p>
                <span class="glyphicon glyphicon-exclamation-sign red">
              
            </span>
            <span class="gray">非常紧急</span>
              </li>
              <li>
                <p>预计收益</p>
                <span class="orange large h-b">300</span>
              </li>
             </ul>

             <h5>任务要求</h5>
             <div class="border-radius task-require-wrap">
              <p>有道翻译提供即时免费的中、英、日、韩、法、俄、西班牙文全文翻译、网页翻译服务。... 支持全文翻译,智能调整语序,支持屏幕取词,快来点击下载~ 下载有道词典 扫描</p>
             </div>

             <h5>上传要求</h5>
             <ul class="task-uploak-wrap border-radius">
              <li>
                <span>1.钢结构设计总说明</span>
                <div class="pull-right">
                  <i class="glyphicon glyphicon-trash mr-15"></i>
                  <i class="glyphicon glyphicon-pencil"></i>
                </div>
              </li>
              <li>
                <span>2.基友平面布置图</span>
                <div class="pull-right">
                  <i class="glyphicon glyphicon-trash mr-15"></i>
                  <i class="glyphicon glyphicon-pencil"></i>
                </div>
              </li>
              <li>
                <span>3.预处理栓布置图</span>
                <div class="pull-right">
                  <i class="glyphicon glyphicon-trash  mr-15"></i>
                  <i class="glyphicon glyphicon-pencil"></i>
                </div>
              </li>
              <div class="clearfix"></div>
              <li>
                
                <div class="pull-right ">
                  <a href="#">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加</span>
                  </a>
                </div>
                <div class="clearfix"></div>
              </li>
             </ul>
      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm">保存</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>



<!--承接审核模态框-->
<div id="cjshModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" >
              <h5>任务分组:#土建</h5>
              <h4>售楼处</h4>
          </h4>
        </div>
        <div class="modal-body">
    
             <ul class="task-info-list border-radius">
              <li>
                <p>执行者</p>
                <img src="/images/avatar.png" alt="" class="img-circle img-responsive">
                <span>待认领</span>
              </li>
              <li>
                <p>截止时间</p>
                <span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
              </li>
              <li>
                <p>优先级</p>
                <span class="glyphicon glyphicon-exclamation-sign red">
              
            </span>
            <span class="gray">非常紧急</span>
              </li>
              <li>
                <p>预计收益</p>
                <span class="orange large h-b">300</span>
              </li>
             </ul>

             <h5>任务要求</h5>
             <div class="border-radius task-require-wrap">
              <p>有道翻译提供即时免费的中、英、日、韩、法、俄、西班牙文全文翻译、网页翻译服务。... 支持全文翻译,智能调整语序,支持屏幕取词,快来点击下载~ 下载有道词典 扫描</p>
             </div>

             <h5>已报名人员</h5>
             <ul class="task-uploak-wrap border-radius">
              <li>
                <div class="media">
              <div class="media-left">
                <a href="#" data-toggle="modal" data-target="#memberModal">
                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="small gray ml-20">手机：13810101011</span><span class="small gray ml-20">好评:5星</span></h5>

                <p class="small gray mb-0">我有丰富的设计经验、空余时间充裕，想承接此项目。</p>

              </div>
            </div>
              </li>
              <li>
                <div class="media">
              <div class="media-left">
                <a href="#">
                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
                </a>
              </div>
              <div class="media-body">
                <h5 class="media-heading">张一<span class="small gray ml-20">手机：13810101011</span><span class="small gray ml-20">好评:5星</span><span class="red small pull-right">已承接</span></h5>
                
                <p class="small gray mb-0">我有丰富的设计经验、空余时间充裕，想承接此项目。</p>

              </div>
            </div>
              </li>
              
              
             </ul>
      
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
             <textarea class="form-control" rows="1" placeholder="请输入承接缘由"></textarea>
        </div>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-info  btn-block">确认承接</button>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>




  <!-- 已经承接的模态框 -->
<div id="havetoUndertakeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" >
              <h5>任务分组:#土建</h5>
              <h4>售楼处</h4>
          </h4>
        </div>
        <div class="modal-body">
    
             <ul class="task-info-list border-radius">
              <li>
                <p>执行者</p>
                <img src="/images/avatar.png" alt="" class="img-circle img-responsive">
                <span>待认领</span>
              </li>
              <li>
                <p>截止时间</p>
                <span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
              </li>
              <li>
                <p>优先级</p>
                <span class="glyphicon glyphicon-exclamation-sign red">
              
            </span>
            <span class="gray">非常紧急</span>
              </li>
              <li>
                <p>预计收益</p>
                <span class="orange large h-b">300</span>
              </li>
             </ul>

             <h5>任务要求</h5>
             <div class="border-radius task-require-wrap">
              <p>有道翻译提供即时免费的中、英、日、韩、法、俄、西班牙文全文翻译、网页翻译服务。... 支持全文翻译,智能调整语序,支持屏幕取词,快来点击下载~ 下载有道词典 扫描</p>
             </div>

             <h5>附件上传</h5>
             <ul class="task-uploak-wrap border-radius">
              <li>
                <span>1.钢结构设计总说明</span>
                  <button class="btn btn-info btn-xs  pull-right">上传</button>
              </li>
              <li>
                <span>2.基友平面布置图</span>
                <button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
              </li>
              <li>
                <span>3.预处理栓布置图</span>
                <button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
              </li>
              <div class="clearfix"></div>
             </ul>
             <h5>任务会话</h5>
             <ul class="task-uploak-wrap border-radius task-chat-list">
              <li>
                <ul class="media-list">
              <li class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
                  </a>
                </div>
                <div class="media-body">
                  <!-- <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="small gray ml-20">手机：13810101011</span><span class="small gray ml-20">好评:5星</span></h5> -->
                  <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="glyphicon glyphicon-calendar gray small ml-20"> 2016-08-04</span><a href="#"><span class="label label-warning pull-right">回复</span></a></h5>
                  <p>请问基础平面布置图中需要预留门口喷泉位置？</p>
                  <!-- Nested media object -->
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
                      </a>
                    </div>
                    <div class="media-body">
                       <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李四</a><span class="glyphicon glyphicon-calendar gray small ml-20"> 2016-08-14</span></h5>
                       <p>可以保留</p>
                      <!-- Nested media object -->
                      <!-- <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
                          </a>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">Nested media heading</h5>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- Nested media object -->
                  <!-- <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
                      </a>
                    </div>
                    <div class="media-body">
                      <h5 class="media-heading">Nested media heading</h5>
                      <p>哈哈哈</p>
                    </div>
                  </div> -->
                </div>
              </li>
            </ul>
              </li>
              
              <!-- <li>
                <span>2.基友平面布置图</span>
                <button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
              </li>
              <li>
                <span>3.预处理栓布置图</span>
                <button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
              </li> -->
              <div class="clearfix"></div>
              
             </ul>
      
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
             <textarea class="form-control" rows="1" placeholder="填写提交说明"></textarea>
        </div>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-info  btn-block">提交验收</button>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>



    <!--个人信息模态框-->
  <div id="memberModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" >
      <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="member-modal-header">
              <img src="/images/avatar.png" alt="" class="img-circle">
              <p>张三</p>
              <p class="label-tag">认证会员</p>
              <ul id="modal-personal-info" class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#baseinfo" id="baseinfo-tab" role="tab" data-toggle="tab" aria-controls="base-info" aria-expanded="true">基本信息</a></li>
                  <li role="presentation" class=""><a href="#proinfo" role="tab" id="proinfo-tab" data-toggle="tab" aria-controls="pro-info" aria-expanded="false">专业信息</a></li>
                  <li role="presentation" class=""><a href="#presonllib" role="tab" id="presonllib-tab" data-toggle="tab" aria-controls="info3" aria-expanded="false">个人资质</a></li>
                  <li role="presentation" class=""><a href="#trueidentity" role="tab" id="trueidentity-tab" data-toggle="tab" aria-controls="trueidentity" aria-expanded="false">真实身份</a></li>
              </ul>
            </div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                        <div id="modal-personal-info-tabs" class="tab-content small">
                      <div role="tabpanel" class="tab-pane  active in mt-15" id="baseinfo" aria-labelledby="baseinfo-tab">
                         <form class="form-horizontal">
                       <div class="form-group">
                          <label for="inputPassword3 " class="col-sm-2 control-label pt-0">邮箱</label>
                          <div class="col-sm-4">
                              <span>1014444568@qq.com</span>
                          </div>
                          
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">用户ID</label>
                          <div class="col-sm-4">
                            <span>66656610</span>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">手机</label>
                          <div class="col-sm-4">
                            <span>1391381561</span>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">性别</label>
                          <div class="col-sm-4">
                            <span>男</span>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">QQ</label>
                          <div class="col-sm-4">
                            <span>10123156</span>
                          </div>
                       </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">微信</label>
                          <div class="col-sm-4">
                            <span>10123156</span>
                          </div>
                       </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">个性微博</label>
                          <div class="col-sm-4">
                            <span>www.weibo.com</span>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">个性标签</label>
                          <div class="col-sm-4">
                            <span class="label label-primary">Primary</span>
                            <span class="label label-primary">Primary</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">学校</label>
                          <div class="col-sm-4">
                            <span>常州江苏理工</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="inputPassword3" class="col-sm-2 control-label pt-0">学历</label>
                          <div class="col-sm-4">
                            <span>本科</span>
                          
                          </div>
                      </div>
                    </form>
                      </div>
                      <div role="tabpanel" class="tab-pane  mt-15" id="proinfo" aria-labelledby="proinfo-tab">
                       <div class="table-responsive">
                                <table class="table table-prof-info">
                        <thead>
                          <tr>
                            <th>行业/专业</th>
                            <th>公司名称</th>
                            <th>职业</th>
                            <th>职称</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          
                        </tbody>
                      </table>
                              </div>
                      </div>
                  
                    
                      <div role="tabpanel" class="tab-pane  mt-15" id="presonllib" aria-labelledby="presonllib-tab">
                        
                          <table class="table ">
                          <thead>
                            <tr>
                              <th>姓名</th>
                              <th>证书类型</th>
                              <th>证书名称</th>
                              <th>证书照片</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>张三</td>
                              <td>注册会计师</td>
                              <td>注册会计师资格证</td>
                              <td>

                                <a href="#"><i class="glyphicon glyphicon-search" id="showImg0"></i></a>
                                <div class="img-show-wrap">
                                  <img src="/images/img01.jpg" alt="" class="img-responsive img-thumbnail">
                                </div>
                                
                              </td>
                            </tr>
                            <tr>
                              <td>张一</td>
                              <td>注册会计师</td>
                              <td>注册会计师资格证</td>
                              <td>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </div>
                  
                    
                      <div role="tabpanel" class="tab-pane  mt-15" id="trueidentity" aria-labelledby="trueidentity-tab">
                         <form class="form-horizontal">
                       <div class="form-group">
                          <label for="inputPassword3 " class="col-sm-3 control-label pt-0">个人姓名</label>
                          <div class="col-sm-4">
                              <span>张珊</span>
                          </div>
                          
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-3 control-label pt-0">籍贯</label>
                          <div class="col-sm-2">
                            <span>江苏</span>
                            <span>常州</span>
                          </div>
                           
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-3 control-label pt-0">所在地</label>
                          <div class="col-sm-2">
                            <span>江苏</span>
                            <span>常州</span>
                          </div>
                           
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-3 control-label pt-0">身份证号码</label>
                          <div class="col-sm-4">
                            <span>320482199112120501</span>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="inputPassword3" class="col-sm-3 control-label pt-0">身份证正反照</label>
                          <div class="col-sm-4">
                             <img src="/images/img01.jpg" alt="" class="img-responsive">
                              <img src="/images/img02.jpg" alt="" class="img-responsive mt-15">
                          </div>
                       </div>
                    </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
         </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>




<!-- 添加日程 模态框-->
<!-- Modal -->
<div class="modal fade" id="calendarStrokeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close gray" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title gray" id="myModalLabel">添加日程到 
          <div class="dropdown d-i ml-10">
            <span class="dropdown-toggle blue-01"id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              通江路丰城国际大厦设计项目
              <span class="glyphicon glyphicon-menu-down"></span>
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        </h5>
      </div>
      <div class="modal-body">
          <div class="form-group mb-0">
                <input type="text" class="form-control" placeholder="日程标题">
                 <input type="text" class="form-control" placeholder="地点">
          </div>
          <ul class="task-info-list border-radius">
              <li>
                <p>开始时间</p>
               
                <span>今天 <span class="h-b small">14：00</span></span>
              </li>
              <li>
                <p>结束时间</p>
               
                <span>今天 <span class="h-b small">15：00</span></span>
              </li>
              <li>
                <p>全天</p>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                  </label>
                </div>
              </li>
          </ul>
          <ul class="task-info-list border-radius task-info-list-2">
              <li>
                <p>重复</p>
                <i class="glyphicon glyphicon-repeat"></i>
               
                <div class="dropdown">
                  <span class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">不重复</span>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">不重复</a></li>
                    <li><a href="#">每天重复</a></li>
                    <li><a href="#">每周重复</a></li>
                    <li><a href="#">每月重复</a></li>
                    <li><a href="#">每年重复</a></li>
                    <li><a href="#">工作日重复</a></li>
                    <li role="separator" class="divider"></li>
                    
                    <li><a href="#">自定义重复</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <p>提醒</p>
                <i class="glyphicon glyphicon-bell"></i>
                <div class="dropdown">
                  <span class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">关闭提醒</span>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">关闭提醒</a></li>
                    <li><a href="#">开始提醒</a></li>
                    <li><a href="#">5分钟前</a></li>
                    <li><a href="#">15分钟前</a></li>
                    <li><a href="#">30分钟前</a></li>
                    <li><a href="#">1小时前</a></li>
                    <li><a href="#">2小时前</a></li>
                    <li><a href="#">1天前</a></li>
                  </ul>
                </div>
                
              </li>
           
          </ul>
           <ul class="task-info-list border-radius task-info-list-3">
              <li>
                 <p>参与者</p>
                 <img src="/images/avatar.png" alt="" class="img-circle img-list">
                 <i class="glyphicon glyphicon-plus-sign blue-01"></i>
              </li>           
          </ul>
      </div>
      <div class="modal-footer">
        <div class="text-left fl small gray">
          <i class="glyphicon glyphicon-lock "></i>
          <span>隐私模式</span>
          <p class="small gray-01 ml-15">所有成员可见</p>
        </div>
        <button type="button" class="btn btn-primary btn-sm">创建</button>
      </div>
    </div>
  </div>
</div>