
<div class="container">
	<div class="row platform-info-wrap">
		<div class="col-md-9 mt-15">
			<div class="row">
				<div class="col-md-12">
					<div class="platform-info-count">
						<i class="glyphicon glyphicon-signal mr-15"></i>
						<span>
							<span class="h-b">统计信息：</span>
							<span>项目总数<span class="h-b orange">900</span>个，</span>
							<span>成员总数<span class="h-b orange">50</span>人，</span>
							<span>收益总额<span class="h-b orange">3000</span>金币</span>
						</span>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-6 col-md-3 mt-15">
					<div class="media">
						<div class="media-left media-middle">
						    
						      <img class="media-object" src="/images/logo.png" alt="...">
						    
						</div>
						<div class="media-body">
						    <h4 class="media-heading">1.发布项目</h4>
						    <span>填写项目信息，确定招募对象，正式发布</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 mt-15">
					<div class="media">
						<div class="media-left media-middle">
						    
						      <img class="media-object" src="/images/logo.png" alt="...">
						    
						</div>
						<div class="media-body">
						    <h4 class="media-heading">2.承接项目</h4>
						    <span>查看应聘信息，竞聘承接项目，等待确认</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 mt-15">
					<div class="media">
						<div class="media-left media-middle">
						    
						      <img class="media-object" src="/images/logo.png" alt="...">
						    
						</div>
						<div class="media-body">
						    <h4 class="media-heading">3.成果上传</h4>
						    <span>确认应聘成功，按时完成设计，成果上传</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 mt-15">
					<div class="media">
						<div class="media-left media-middle">
						    
						      <img class="media-object" src="/images/logo.png" alt="...">
						    
						</div>
						<div class="media-body">
						    <h4 class="media-heading">4.验收付款</h4>
						    <span>审查交付成果，确定设计质量，交易完成</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 mt-15">
			<div class="website-info-wrap">
				<div class="website-info-line">
					<div class="header-border-left">
						<h5>网站公告</h5>
					</div>
				</div>
				<ul class="website-info-list">
					<li><a href="#">上海金曲软件打造企业管理软件第一品牌哈哈你好明天</a></li>
					<li><a href="#">上海金曲软件打造企业管理软件第一品牌哈哈你好明天</a></li>
					<li><a href="#">上海金曲软件打造企业管理软件第一品牌哈哈你好明天</a></li>
					<li><a href="#">上海金曲软件打造企业管理软件第一品牌哈哈你好明天</a></li>
					<li><a href="#">上海金曲软件打造企业管理软件第一品牌哈哈你好明天</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- 项目招幕 -->
	<div class="project-recruit">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>项目招募</h4>
			</div>

			<ul id="project-recruit" class="nav nav-tabs nav-inline nav-inline" role="tablist">
		      <li role="presentation" class="active"><a href="#project1" id="project1-tab" role="tab" data-toggle="tab" aria-controls="project1" aria-expanded="true">市政工程</a></li>
		      <li role="presentation" class=""><a href="#project2" role="tab" id="project2-tab" data-toggle="tab" aria-controls="project2" aria-expanded="false">建筑工程</a></li>
		      <li role="presentation" class=""><a href="#project3" role="tab" id="project3-tab" data-toggle="tab" aria-controls="project3" aria-expanded="false">规划工程</a></li>
		      <li role="presentation" class=""><a href="#project4" role="tab" id="project4-tab" data-toggle="tab" aria-controls="project4" aria-expanded="false">景观工程</a></li>
		      
		    </ul>
		    
		</div>

		<div id="project-recruitContent" class="tab-content ">
		      <div role="tabpanel" class="tab-pane  active in p-15" id="project1" aria-labelledby="project1-tab">
		         <div class="row">
		         	<div class="col-sm-6 col-md-3 ">
		         		<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img02.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         		
		         		
		         	</div>
		         	<div class="col-sm-6 col-md-3 ">
		         		<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img01.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         		
		         	</div>
		         	<div class="col-sm-6 col-md-3 ">
		         		<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img03.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         		
		         	</div>

		         	<div class="col-sm-6 col-md-3 ">
		         		<a href="">
		         			<div class="img-fit-box">
			         			<img src="/images/img04.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         		
		         	</div>
		         </div>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="project2" aria-labelledby="project2-tab">
		        <p>Foichardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="project3" aria-labelledby="project3-tab">
		        <p>Foichardson biodiesel. Art party scenester r vero sint qui sapiente accusamus tattooed echo park.</p>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="project4" aria-labelledby="project4-tab">
		        <p>Foichardson biodiesel. </p>
		      </div>
     
    		</div>
	</div>

    <!--收藏项目-->
    <div class="project-collect">
		<div class="website-info-line p-20">
			<div class="header-border-left">
				<h4>承接动态</h4>
			</div>

			<ul id="project-collect" class="nav nav-tabs nav-inline" role="tablist">
		      <!-- <li role="presentation" class="active"><a href="#collect1" id="collect1-tab" role="tab" data-toggle="tab" aria-controls="collect1" aria-expanded="true">市政工程</a></li>
		      <li role="presentation" class=""><a href="#collect2" role="tab" id="collect2-tab" data-toggle="tab" aria-controls="collect2" aria-expanded="false">建筑工程</a></li>
		      <li role="presentation" class=""><a href="#collect3" role="tab" id="collect3-tab" data-toggle="tab" aria-controls="collect3" aria-expanded="false">规划工程</a></li>
		      <li role="presentation" class=""><a href="#collect4" role="tab" id="collect4-tab" data-toggle="tab" aria-controls="collect4" aria-expanded="false">景观工程</a></li> -->
		      
		    </ul>
		    
		</div>
	
		    <div class="row">
		        <div id="myVerticalCarousel" class="carousel slide vertical">
		            <!-- Carousel items -->
		            <div class="carousel-inner">
		                <div class="active item">
		                    <ul>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>
									</div>
								</li>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>
									</div>
								</li>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>

									</div>
								</li>		
							</ul>
		                </div>
		                <div class="item">
		                    <ul>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>
									</div>
								</li>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>
									</div>
								</li>
								<li>
									<div class="row p-10">
										<div class="col-md-6 ">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
						    			</div>
								    	<div class="col-md-6">
								    		<div class="media pl-30">
								              <div class="media-left">
								                <a href="#" data-toggle="modal" data-target="#memberModal">
								                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
								                </a>
								              </div>
								              <div class="media-body">
								                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李**</a><span class="small gray ml-20">2016年8月22日</span></h5>

								                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

								              </div>
								            </div>
								    	</div>
									</div>
								</li>		
							</ul>
		                </div>
		                
		            </div>
		           
		        </div>
		    </div>
	
		<!-- <div class="list_lh">
			<ul>
				<li>
					<div class="row p-10">
						<div class="col-md-6 ">
				    		<div class="media">
				              <div class="media-left">
				                <a href="#" data-toggle="modal" data-target="#memberModal">
				                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
				                </a>
				              </div>
				              <div class="media-body">
				                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="small gray ml-20">2016年8月22日</span></h5>

				                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

				              </div>
				            </div>
		    			</div>
				    	<div class="col-md-6">
				    		<div class="media">
				              <div class="media-left">
				                <a href="#" data-toggle="modal" data-target="#memberModal">
				                  <img src="/images/avatar.png" alt="" class=" img-circle img-list media-object">
				                </a>
				              </div>
				              <div class="media-body">
				                <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="small gray ml-20">2016年8月22日</span></h5>

				                <p class="small gray mb-0">承接了 某某某项目 电气一次的任务</p>

				              </div>
				            </div>
				    	</div>
					</div>
				</li>
						
			</ul>
		</div> -->

		</div>


		<!-- 参与项目-->
		<div class="project-join">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>项目展示</h4>
			</div>

			<ul id="project-join" class="nav nav-tabs nav-inline" role="tablist">
		      
		    </ul>
		    
		</div>
		<div class="row p-30">
			<div class="col-md-6 cases-show-left">
				<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img01.jpg" alt="" class="img-responsive" style="height:370px;">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
			</div>
			<div class="col-md-6">
				<div class="row cases-show-right">
					<div class="col-md-6 mb-30 ">
						<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img01.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
					</div>
					<div class="col-md-6 mb-30">
						<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img02.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
					</div>
					<div class="col-md-6 mb-30">
						<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img03.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
					</div>
					<div class="col-md-6 mb-30">
						<a href="#">
		         			<div class="img-fit-box">
			         			<img src="/images/img04.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
					</div>
				</div>
				
			</div>
		</div>
		<!-- <div id="project-join" class="tab-content ">
		      <div role="tabpanel" class="tab-pane  p-15 active in" id="join1" aria-labelledby="join1-tab">
		         <div class="row">
		         	<div class="col-sm-6 col-md-3">
		         		<a href="#">
			         		<div class="img-fit-box">
			         			<img src="/images/img02.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         		
		         	</div>
		         	<div class="col-sm-6 col-md-3">
		         		<a href="#">
			         		<div class="img-fit-box">
			         			<img src="/images/img01.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         	</div>
		         	<div class="col-sm-6 col-md-3">
		         		<a href="#">
			         		<div class="img-fit-box">
			         			<img src="/images/img03.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         	</div>
		         	<div class="col-sm-6 col-md-3">
		         		<a href="#">
			         		<div class="img-fit-box">
			         			<img src="/images/img04.jpg" alt="" class="img-responsive">
			         			<div class="img-mask">
			         				<p>通江路丰城国际大厦设计项目</p>
			         				<span>应聘专业:建筑、结构、土建、给排水</span>
			         			</div>
			         		</div>
		         		</a>
		         	</div>
		         </div>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="join2" aria-labelledby="join2-tab">
		        <p>Foichardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="join3" aria-labelledby="join3-tab">
		        <p>Foichardson biodiesel. Art party scenester r vero sint qui sapiente accusamus tattooed echo park.</p>
		      </div>
		      <div role="tabpanel" class="tab-pane p-15" id="join4" aria-labelledby="join4-tab">
		        <p>Foichardson biodiesel. </p>
		      </div>
     
    		</div> -->
		</div>
</div><!--/container -->
