<!DOCTYPE html>
<html>
  <% include _head %>
  <body style="overflow-x:hidden;">
    <!--首页模板 -->
    <div class="body-wrap">
    	<% include _header %>
    	<% include _frontNav %>
	    <%- body %>
	    
    </div>
    <% include _footer %>
    <% include _script %>

  </body>
  
</html>
