<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="keywords" content="这里填写的是关键字"/>
    <meta name="description" content="网页描述"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>设计师平台-用户中心</title>
	<!-- <link rel="shortcut icon" href="public/images/favicon.ico"/> -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.min.css' /> 
	<link rel='stylesheet' href='/stylesheets/login.min.css' />  
	<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body class="form-bg">
<header>
	<div class="container">
		<div class="header-wrap">
			<div class="header-left pull-left hidden-xs">
				<span>欢迎您来到-设计师平台！</span>
			</div>
			<div class="header-right pull-right">
				<ul class="header-ul-list">
					<li class="pl"><a href="#">联系我们</a></li>
					<li><a href="#">关于我们</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<nav class="nav-bar">
	<div class="container">
		<div class="row">
			<!-- <div class="col-md-2">
				<img src="/images/designerLogo.png" alt="" class="img-responsive">
			</div> -->
			<div class="col-md-12">
				<nav class="navbar ">
			        <div class="container-fluid">
			          <div class="navbar-header">
			          <a class="navbar-brand" href="/index"><img src="/images/designerLogo.png"  alt="Brand" class="img-responsive"></a>
			          </div>
			        </div><!--/.container-fluid -->
			      </nav>
			</div>
		</div>
	</div>
</nav>
<div class="logo-bg-wrap">

 	<div class="container">
 		<div class="row">
 			 <form class="col-sm-offset-6 col-sm-4 form-horizontal" role="form" method="post">
		        <fieldset>
		        	<div class="form-title-wrap">
		        		 <div class="form-title">
			            	<span>注册账号</span>
			            </div>
			            <div class="pull-right">
			            	<a href="/login" class="small orange">已有帐号？直接去登录</a>
			            </div>
			          
		        	</div>
		           
		            <div class="form-group">
		                <label class="col-sm-3 control-label" for="username">账号</label>
		                <div class="col-sm-8">
		                    <input type="text" class="form-control" id="username" name="username" placeholder="使用邮箱或者手机号码进行注册" required>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label" for="username">昵称</label>
		                <div class="col-sm-8">
		                    <input type="text" class="form-control" id="name" name="username" placeholder="用户名由2到16位的中文字符、英文字符、数字组成" required>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label" for="password">密码</label>
		                <div class="col-sm-8">
		                    <input type="password" class="form-control" id="passwordConfirm" name="password" required>
		                </div>
		            </div>
		              <div class="form-group">
		                <label class="col-sm-3 control-label" for="password">确认密码</label>
		                <div class="col-sm-8">
		                    <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label" for="password">验证码</label>
		                <div class="col-sm-4">
		                    <input type="text" class="form-control" id="password" name="password" placeholder="输入验证码" required>
		                </div>
		                <div class="col-sm-4">
		                    <input type="text" class="form-control" id="password" name="password" placeholder="" required>
		                </div>
		            </div>
		            <div class="form-group mt-30">
		                <div class="col-sm-offset-3 col-sm-6">
		                    <button type="submit" class="btn btn-success btn-block btn-lg mb-30">提交注册</button>
		                </div>
		            </div>
		            </div>
		        </fieldset>
		    </form>
 		</div>
 	</div>
	
</div>
	   
</body>
</html>