<div class="container">
	<div class="row">
		<div class="col-md-2 mt-15">
			<div class="panel-wrap">
				
			 	<div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
					    <div class="panel-heading p-0" role="tab">
					      <p class="panel-title ">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
					          <span>知识</span>
					          <!-- <span class="pull-right glyphicon glyphicon-minus-sign orange"></span> --> 
					          </a></p><div class="fancy"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							    <h2>
							    <span class="ribbon-center glyphicon glyphicon-list-alt"></span>
							  </h2>
							
							</a></div><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        </a>
					        
					      <p></p>
					    </div>
					    <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="panel-body pannel-ul-body">
					         <ul>
							
								<li class="active clearfix">
									<h5>市政工程</h5>
									<a href="#">轨道交通</a>
									<a href="#">给水排水</a>
									<a href="#">道路立交</a>
									<a href="#">园林绿化</a>
								</li>
								<li class="clearfix">
									<h5>建筑工程</h5>
									<a href="#">地基基础</a>
									<a href="#">安装消防</a>
									<a href="#">设备安装</a>
									<a href="#">结构工程</a>
								</li>
								<li class="clearfix">
									<h5>规划工程</h5>
									<a href="#">电力能源</a>
									<a href="#">水利水电</a>
									<a href="#">机械制造</a>
									<a href="#">其他</a>
								</li>
								
							</ul>
					      </div>
					    </div>
					</div>
			 	</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="info-personal info-knowledge">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>知识</h4>
					</div>
					<ol class="breadcrumb breadcrumb-ol-wrap">
					  <li><a href="#"></a></li>
					  <li><a href="#">市政工程</a></li>
					  <li class="active">园林绿化</li>
					</ol>
					<div class="pull-right mt-10">
		      		  	<a href="#" class="blue-01">
		      		  		<i class="glyphicon glyphicon-plus-sign"></i>
		      		  		<span>创建文件夹</span>
		      		  	</a>
		      		  	<a href="#" class="ml-20 blue-01">
		      		  		<i class="glyphicon glyphicon-circle-arrow-up"></i>
		      		  		<span>上传文件</span>
		      		  	</a>
					</div>
					
				    <div class="clearfix"></div>
				</div>
				<div class="table-responsive p-10">
					<table class="table table-hover  gray small">
					     <thead>
					        <tr>
					            <td></td>
					            <td>
						          	文章名称
								</td>
					         
					          <td>创建者</td>
					          <td>更新时间</td>
					          <td></td>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>
					            <td><i class="glyphicon glyphicon-star orange"></i></td>
					          
					          
					          <td>园林绿化所运用的材料</td>
					          <td>小王</td>
					          <td>
					          	 2016-02-20
					          </td>
					           <td> <a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
					          	  </a>
					          	 </td>
					        </tr>
					        <tr>
					            <td><i class="glyphicon glyphicon-star-empty gray"></i></td>
					            
					       
					          <td>新时代园林绿化</td>
					          <td>小五</td>
					          <td>
					          	 2016-02-01
					          </td>
					          <td>
					          	<a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
					          	  </a>
					          </td>
					        </tr>
					      </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
