<div class="col-md-3 border-right ">
	<div class="form-group mt-15 mb-0">
	    <input type="text" class="form-control" placeholder="搜索项目或成员">
	</div>
	<div class="detail-task-row pt-10">							
		<div class="leftsiderbar-top-box">
			<a href="#" class="gray"><i class="glyphicon glyphicon-book"></i>  所有项目<i class="glyphicon glyphicon-ok pull-right"></i></a>
			    <ul>
					<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
					<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
					<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
					
				</ul>
		</div>
		<div class="leftsiderbar-top-box">
			<a href="#" class="gray"><i class="glyphicon glyphicon-user"></i>  所有成员

			<ul>
				<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
				<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
				<li><a href="#"><img src="/images/img02.jpg" class="img-list" alt=""> 通江路丰城国际大厦设计项目</a></li>
				
			

			</ul>
		</div>
	</div>
</div>