<div class="col-md-3">
	<div class="user-left-wrap">
		<div class="user-info-header">
			<div class="avatar-wrap">
				<img src="/images/avatar.png" alt="" class="img-responsive">
				<span>张三</span>
			</div>
			<div class="user-certificate">
				<span>
					<i class="glyphicon glyphicon-certificate"></i>
					实名会员
				</span>
				<span>
					<i class="glyphicon glyphicon-envelope"></i>
					邮箱已认证
				</span>
				<span>
					<i class="glyphicon glyphicon-phone"></i>
					手机已绑定
				</span>
				
			</div>
		</div>
		<div class="user-info-body">
			<span>安全等级 <span class="blue ml-20">高</span></span>
			<div class="progress">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			    <span class="sr-only">60% Complete</span>
			  </div>
			</div>
            
            <span>资料完成 <span class="blue ml-20">高</span></span>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			    <span class="sr-only">60% Complete</span>
			  </div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<p>注册时间</p>
				</div>
				<div class="col-sm-8"><p class="orange">2016-3-25</p></div>

				<div class="col-sm-4">
					<p>性别</p>
				</div>
				<div class="col-sm-8"><p class="orange">女</p></div>

				<div class="col-sm-4">
					<span>财富</span>
				</div>
				<div class="col-sm-8"><span class="orange">356</span> 平台币</div>

			</div>

						  
		

		</div>
	</div>
</div>
