<div class="container">
	<div class="info-personal pb-0">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>讨论</h4>

			</div>
			<div class="pull-right mt-10">
	      		  	<a href="#" class="blue-01">
	      		  		<i class="glyphicon glyphicon-plus-sign"></i>
	      		  		<span>创建文件夹</span>
	      		  	</a>
	      		  	<a href="#" class="ml-20 blue-01">
	      		  		<i class="glyphicon glyphicon-circle-arrow-up"></i>
	      		  		<span>上传文件</span>
	      		  	</a>
				</div>
		</div>
	
		<div class="row full-height">
			<% include _leftSide %>
			<div class="col-md-9">
				<div class="table-responsive p-10">
					<table class="table table-hover  gray ">
					     <thead>
					        <tr>
					            <td></td>
					            <td>
						          	文章名称
								</td>
					           <td>已读/回复</td>
					          <td>创建者</td>
					          <td>更新时间</td>
					          <td></td>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>
					            <td><i class="glyphicon glyphicon-star orange"></i></td>
					          
					          
					          <td>园林绿化所运用的材料</td>
					          <td>323/30</td>
					          <td>小王</td>
					          <td>
					          	 2016-02-20
					          </td>
					           <td> <a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
					          	  </a>
					          	 </td>
					        </tr>
					        <tr>
					            <td><i class="glyphicon glyphicon-star-empty gray"></i></td>
					            
					       
					          <td>新时代园林绿化</td>
					          <td>323/30</td>
					          <td>小五</td>
					          <td>
					          	 2016-02-01
					          </td>
					          <td>
					          	<a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
					          	  </a>
					          </td>
					        </tr>
					      </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>