<div class="container">
	<div class="info-personal pb-0">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>文件</h4>

			</div>
			<div class="pull-right mt-10">
	      		  	<a href="#" class="blue-01">
	      		  		<i class="glyphicon glyphicon-plus-sign"></i>
	      		  		<span>创建文件夹</span>
	      		  	</a>
	      		  	<a href="#" class="ml-20 blue-01">
	      		  		<i class="glyphicon glyphicon-circle-arrow-up"></i>
	      		  		<span>上传文件</span>
	      		  	</a>
				</div>
		</div>
	
		<div class="row full-height">
			<% include _leftSide %>
			<div class="col-md-9">
				<table class="table table-hover">
			      <thead>
			        <tr>
			            <td>
				          	<div class="checkbox m-0">
						    	<label>
						      		<input type="checkbox"> 名称
						    	</label>
						  	</div>
						</td>
			          <td>大小</td>
			          <td>创建者</td>
			          <td>更新时间</td>
			          <td></td>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>
			          	    <div class="checkbox m-0">
						    	<label>
						      		<input type="checkbox"> 图片
						    	</label>
						  	</div>
			          </td>
			          <td>Mark</td>
			          <td>张三</td>
			          <td>2016-06-24</td>
			          <td>
			          	  <a href="#">
			          	  	<i class="glyphicon glyphicon-file gray"></i>
			          	  </a>
			          	  <a href="#">
			          	  	<i class="glyphicon glyphicon-pencil gray ml-20"></i>
			          	  </a>
			          </td>
			        </tr>
			        <tr>
			          <td>
			          		<div class="checkbox m-0">
						    	<label>
						      		<input type="checkbox"> 文档
						    	</label>
						  	</div>
			          </td>
			          <td>Jacob</td>
			          <td>李四</td>
			          <td>2016-06-24</td>
			          <td></td>
			        </tr>
			        
			      </tbody>
			    </table>
			</div>
		</div>
	</div>
</div>