<div class="container">
	<div class="row usercenter-info-wrap">
		<% include _personal-left %>
		<div class="col-md-9">
			<div class="info-personal personal-center-wrap">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>个人信息</h4>
					</div>

					<ul id="project-collect" class="nav nav-tabs nav-inline" role="tablist">
				      <li role="presentation" class="active"><a href="#info1" id="info1-tab" role="tab" data-toggle="tab" aria-controls="info1" aria-expanded="true">基本信息</a></li>
				      <li role="presentation" class=""><a href="#info2" role="tab" id="info2-tab" data-toggle="tab" aria-controls="info2" aria-expanded="false">专业信息</a></li>
				      <li role="presentation" class=""><a href="#info3" role="tab" id="info3-tab" data-toggle="tab" aria-controls="info3" aria-expanded="false">资质认证</a></li>				      
				    </ul>
				    
				</div>

				<div id="info-personal" class="tab-content personal-center-content">
				      <div role="tabpanel" class="tab-pane  active in mt-15" id="info1" aria-labelledby="info1-tab">
				         <form class="form-horizontal">
							 <div class="form-group">
							    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
							    <div class="col-sm-4">
							      <p>9369666666@qq.com</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">用户ID</label>
							    <div class="col-sm-4">
							      <p>9369666666</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">手机</label>
							    <div class="col-sm-4">
							     	<p>18765565656</p> 
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">昵称</label>
							    <div class="col-sm-4">
							      <p>张三</p>
							    </div>
							 </div>

							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
							    <div class="col-sm-4">
							       <p>女</p>
								
							    </div>
							 </div>
							  <div class="form-group" >
							    <label for="inputPassword3" class="col-sm-2 control-label">生日</label>
							    <div class="col-sm-4 " >
							     
							      <p>1993-10-01</p>
							    </div>
							 </div>
							  <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">QQ</label>
							    <div class="col-sm-4">
							      <p>9369666666</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">微信</label>
							    <div class="col-sm-4">
							      <p>9369666666</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个性微博</label>
							    <div class="col-sm-4">
							      <p>www.weibo.com</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个人简介</label>
							    <div class="col-sm-4">
							      <p>今天天气好晴朗</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个性标签</label>
							    <div class="col-sm-4">
							        <span class="label label-primary">Primary</span>
									<span class="label label-success">Success</span>
									<span class="label label-info">Info</span>
							    </div>
							 </div>
							
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">学校</label>
							    <div class="col-sm-4">
							      <p>南京大学</p>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">学历</label>
							    <div class="col-sm-4">
							        <p>大学本科</p>
							    </div>
							 </div>
						</form>
				      </div>
				      <div role="tabpanel" class="tab-pane mt-15" id="info2" aria-labelledby="info2-tab">
				        
                        <div class="row">
                        	<div class="col-md-10">
                        		<div class="table-responsive">
                        			<table class="table table-prof-info">
								      <thead>
								        <tr>
								          <th>行业/专业</th>
								          <th>公司名称</th>
								          <th>职业</th>
								          <th>职称</th>
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <td >1</td>
								          <td>Mark</td>
								          <td>Otto</td>
								          <td>@mdo</td>
								        </tr>
								        
								      </tbody>
			    					</table>
                        		</div>
                        	</div>
                        </div>
                        

				      </div>
				      <div role="tabpanel" class="tab-pane mt-15" id="info3" aria-labelledby="info3-tab">
				        
                        <div class="row">
                        	<div class="col-md-10">
                        		<div class="">
                        			<table class="table ">
								      <thead>
								        <tr>
								          <th>姓名</th>
								          <th>证书类型</th>
								          <th>证书名称</th>
								          <th>证书照片</th>
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <th>张三</th>
								          <td>注册会计师</td>
								          <td>注册会计师资格证</td>
								          <td>

								          	<a href="#"><i class="glyphicon glyphicon-search" id="showImg0"></i></a>
								          	<div class="img-show-wrap">
								          		<img src="/images/img01.jpg" alt="" class="img-responsive img-thumbnail">
								          	</div>
								          	
								          </td>
								        </tr>
								        <tr>
								          <th>张一</th>
								          <td>注册会计师</td>
								          <td>注册会计师资格证</td>
								          <td>

								        
								         
								          	
								          </td>
								        </tr>
								      
								      </tbody>
			    					</table>
                        		</div>
                        		
                        	</div>
                        </div>
				      </div>
		    	</div>
			</div>
		</div>
	</div>
</div>