<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="left-white-menu">
				<ul class="menu-list">
					<li>
						<a  role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="gray">
				 		<i class="glyphicon glyphicon-triangle-right"></i>
				 	    <i class="glyphicon glyphicon-folder-close"></i> 市政工程
				 		</a>
						 <div class="collapse" id="collapseExample">
							<div class="well">
							     <ul>
							     	<li><a href="#">道路立交</a></li>
							     	<li><a href="#">轨道交通</a></li>
							     	<li><a href="#">工程管理</a></li>
							     </ul>
							</div>
						</div>
					</li>
					<li>
						<a  role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" class="gray">
				 		<i class="glyphicon glyphicon-triangle-right"></i>
				 	    <i class="glyphicon glyphicon-folder-close"></i> 市政工程
				 		</a>
						 <div class="collapse" id="collapseExample2">
							<div class="well">
							     <ul>
							     	<li><a href="#">道路立交</a></li>
							     	<li><a href="#">轨道交通</a></li>
							     	<li><a href="#">工程管理</a></li>
							     </ul>
							</div>
						</div>
					</li>
					<li>
						<a  role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" class="gray">
				 		<i class="glyphicon glyphicon-triangle-right"></i>
				 	    <i class="glyphicon glyphicon-folder-close"></i> 市政工程
				 		</a>
						 <div class="collapse" id="collapseExample3">
							<div class="well">
							     <ul>
							     	<li><a href="#">道路立交</a></li>
							     	<li><a href="#">轨道交通</a></li>
							     	<li><a href="#">工程管理</a></li>
							     </ul>
							</div>
						</div>
					</li>
					<li>
						<a  role="button" data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" class="gray">
				 		<i class="glyphicon glyphicon-triangle-right"></i>
				 	    <i class="glyphicon glyphicon-folder-close"></i> 市政工程
				 		</a>
						 <div class="collapse" id="collapseExample4">
							<div class="well">
							     <ul>
							     	<li><a href="#">道路立交</a></li>
							     	<li><a href="#">轨道交通</a></li>
							     	<li><a href="#">工程管理</a></li>
							     </ul>
							</div>
						</div>
					</li>
				</ul>
				 
			</div>
		</div>
		<div class="col-md-9">
			<div class="info-personal info-knowledge">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>知识</h4>
					</div>
					<ol class="breadcrumb breadcrumb-ol-wrap">
					  <li><a href="#"></a></li>
					  <li><a href="#">市政工程</a></li>
					  <li class="active">园林绿化</li>
					</ol>
					<div class="pull-right mt-10">
		      		  	<a href="#" class="blue-01">
		      		  		<i class="glyphicon glyphicon-plus-sign"></i>
		      		  		<span>创建知识</span>
		      		  	</a>
		      		  	
					</div>
					
				    <div class="clearfix"></div>
				</div>
				<div class="table-responsive p-10">
					<table class="table table-hover  gray ">
					     <thead>
					        <tr>
					            <td></td>
					            <td>
						          	文章名称
								</td>
					         
					          <td>创建者</td>
					          <td>更新时间</td>
					          <td></td>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>
					            <td><i class="glyphicon glyphicon-star orange"></i></td>
					          
					          
					          <td>园林绿化所运用的材料</td>
					          <td>小王</td>
					          <td>
					          	 2016-02-20
					          </td>
					           <td> <a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray"></i>
					          	  </a>
					          	 </td>
					        </tr>
					        <tr>
					            <td><i class="glyphicon glyphicon-star-empty gray"></i></td>
					            
					       
					          <td>新时代园林绿化</td>
					          <td>小五</td>
					          <td>
					          	 2016-02-01
					          </td>
					          <td>
					          	<a href="#">
					          	  	<i class="glyphicon glyphicon-trash gray"></i>
					          	  </a>
					          	  <a href="#">
					          	  	<i class="glyphicon glyphicon-pencil gray"></i>
					          	  </a>
					          </td>
					        </tr>
					      </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>