<div class="container">
	<div class="info-personal pb-0">
		<div class="website-info-line">
			<div class="header-border-left">
				<h4>任务</h4>
			</div>
		</div>
	
		<div class="row full-height">
			<% include _leftSide %>
			<div class="col-md-9">
				<div class="media-right-wrap">
        			<ul class="mb-30">
        				<li>
        					<p>	
        						</p><div class="checkbox" style="display:inline;">
								    <label>
								      <input type="checkbox">
								    </label>
								 </div>
        						<i class="glyphicon glyphicon-user"></i>
        						<sapn>1幢、2幢、3幢 <span class="gray-01 small">#建筑</span></sapn>
        						<div class="pull-right">
        							<span class="label label-success glyphicon glyphicon-calendar small ml-20"> 昨天</span>
        							<button class="btn btn-primary btn-sm ">过期任务</button>
        						</div>
        				</li>
        				<li>
        					<p>	
        						</p><div class="checkbox" style="display:inline;">
								    <label>
								      <input type="checkbox">
								    </label>
								 </div>
        						<i class="glyphicon glyphicon-user"></i>
								<span>售楼处 <span class="gray-01 small">#土建</span></span>
								
								<!-- <button class="btn btn-primary btn-sm pull-right">承接任务</button> -->
								<div class="pull-right">
        							<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
        							<button type="button" class="btn btn-success btn-sm " data-toggle="modal" data-target="#undertakeModal">
								    已被承接
								</button>
        						</div>
								
        					<p></p>
        				</li>
        			</ul>
        			<ul class="mb-30">
        				<li>
        					<p>	
        						</p><div class="checkbox" style="display:inline;">
								    <label>
								      <input type="checkbox">
								    </label>
								 </div>
        						<i class="glyphicon glyphicon-user"></i>
        						<sapn>1幢、2幢、3幢 <span class="gray-01 small">#建筑</span></sapn>
        						<div class="pull-right">
        							<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 昨天</span>
        							<button class="btn btn-success btn-sm pull-right">过期任务</button>
        						</div>
        						
        						


        					<p></p>
        				</li>
        				<li class="orange-b">
        					<p>	
        						</p><div class="checkbox" style="display:inline;">
								    <label>
								      <input type="checkbox">
								    </label>
								 </div>
        						<i class="glyphicon glyphicon-user"></i>
								<span>售楼处 <span class="gray-01 small">#土建</span></span>
								<div class="pull-right">
        							<span class="label label-success glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
        							<button type="button" class="btn btn-default btn-sm pull-right " data-toggle="modal" data-target="#undertakeModal">
								    已经完成
								</button>
        						</div>
								
								<!-- <button class="btn btn-primary btn-sm pull-right">承接任务</button> -->
								
        					<p></p>
        				</li>
        			</ul>
        		</div>
			</div>
		</div>
	</div>
</div>