<div class="container">
    <div class="row website-usercenter-asset panel-wrap">
    	<div class="col-md-2 mt-15 ">
    		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				 <div class="panel panel-default">
				    <div class="panel-heading p-0" role="tab" id="headingOne">
				      <p class="panel-title ">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          <span>资产管理</span>
				          <!-- <span class="pull-right glyphicon glyphicon-minus-sign orange"></span> --> 
				          <div class="fancy">
						    <h2>
						    <span class="ribbon-center glyphicon glyphicon-list-alt"></span>
						  </h2>
						
						</div>
				        </a>
				        
				      </p>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				         <ul class="center">
							<li class="active"><a href="#">账户概览</a></li>
							<li><a href="#">交易明细</a></li>
							<li><a href="#">我要提现</a></li>
							<li><a href="#">申请发票</a></li>
						</ul>
				      </div>
				    </div>
				 </div>
			 </div>
			
			
    	</div>
		<div class="col-md-10 ">
			<div class="asset-manage-right-wrap">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>资产管理</h4>
					</div>


				</div>
				<div class="gray-border mt-30 p-30">
						<div class="row">
							<div class="col-md-6">
								<div class="header-border-blue-left">
									<h5>账户余额</h5>
								</div>
								<p class="mt-30">
									<span><span class="h-b orange">120.80</span> 平台币</span>
									<a href="#" class="btn btn-info btn-sm">提现</a>
									<a href="#" class="btn btn-warning btn-sm">充值</a>
								</p>
							</div>
							<div class="col-md-6">
								<div class="header-border-blue-left">
									<h5>昨日收益</h5>
								</div>
								<p class="mt-30">
									<span><span class="h-b orange">50.00</span> 平台币</span>
									<a href="#" class="btn btn-info btn-sm">提现</a>
									<a href="#" class="btn btn-warning btn-sm">充值</a>
								</p>
							</div>
						</div>
					</div>
					<div class="gray-border mt-30 p-30">
						<p>资产动态</p>
						<hr>
						<ul class="gray">
							<li>
								<span>2016-03-20 收益<span class="orange">23.02</span>平台币</span>
							</li>
							<li>
								<span>2016-03-20 收益<span class="orange">23.02</span>平台币</span>
							</li>
						</ul>
					</div>  
			</div>
		</div>
    </div>
</div>