
<div class="container">
	<div class="row usercenter-info-wrap">
		<% include _user-left %>
		<div class="col-md-9">
			<div class="info-personal">
				<div class="website-info-line">
					<div class="header-border-left">
						<h4>个人信息</h4>
					</div>

					<ul id="project-collect" class="nav nav-tabs nav-inline" role="tablist">
				      <li role="presentation" class="active"><a href="#info1" id="info1-tab" role="tab" data-toggle="tab" aria-controls="info1" aria-expanded="true">基本信息</a></li>
				      <li role="presentation" class=""><a href="#info2" role="tab" id="info2-tab" data-toggle="tab" aria-controls="info2" aria-expanded="false">专业信息</a></li>
				      <li role="presentation" class=""><a href="#info3" role="tab" id="info3-tab" data-toggle="tab" aria-controls="info3" aria-expanded="false">资质认证</a></li>
				      <li role="presentation" class=""><a href="#info4" role="tab" id="info4-tab" data-toggle="tab" aria-controls="collect4" aria-expanded="false">组织认证</a></li>
				      
				    </ul>
				    
				</div>

				<div id="info-personal" class="tab-content ">
				      <div role="tabpanel" class="tab-pane  active in mt-15" id="info1" aria-labelledby="info1-tab">
				         <form class="form-horizontal">
							 <div class="form-group">
							    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
							    <div class="col-sm-4">
							      <input type="email" class="form-control" id="inputEmail3" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">用户ID</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control"  >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">手机</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">昵称</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>

							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">性别</label>
							    <div class="col-sm-4">
							      <div class="radio">
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
									   男
									  </label>
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									    女
									  </label>
									  <label>
									    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
									    保密
									  </label>
									</div>
								
							    </div>
							 </div>
							  <div class="form-group" >
							    <label for="inputPassword3" class="col-sm-2 control-label">生日</label>
							    <div class="col-sm-4 " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							     
							      <input type="text" class="form-control" value="" id="datetimepicker">
							    </div>
							 </div>
							  <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">QQ</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">微信</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个性微博</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个人简介</label>
							    <div class="col-sm-4">
							      <textarea class="form-control"></textarea> 
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">个性标签</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">推荐标签</label>
							    <div class="col-sm-4">
							        <span class="label label-primary">Primary</span>
									<span class="label label-success">Success</span>
									<span class="label label-info">Info</span>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">学校</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">学历</label>
							    <div class="col-sm-4">
							        <select class="form-control">
									    <option>请选择学历</option>
									    <option>专科</option>
									  	<option>本科</option>
									  	<option>硕士研究生</option>
									  	<option>博士研究生</option>
									</select>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label"></label>
							    <div class="col-sm-4">
							         <a href="javascript:void(0);" class="btn btn-success">保存</a>
							    </div>
							 </div>

						</form>
				      </div>
				      <div role="tabpanel" class="tab-pane mt-15" id="info2" aria-labelledby="info2-tab">
				        <form class="form-horizontal">
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">行业</label>
							    <div class="col-sm-2">
							        <select class="form-control">
									    <option>行业分类</option>
									    <option>专科</option>
									  	<option>本科</option>
									  	
									</select>
							    </div>
							    <div class="col-sm-2">
							        <select class="form-control">
									    <option>专业分类</option>
									    <option>专科</option>
									  	<option>本科</option>
									  	
									</select>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">公司名称</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control"  >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">职业</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">职称</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>

							
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label"></label>
							    <div class="col-sm-4">
							         <a href="javascript:void(0);" class="btn btn-success" id="saveInfo">保存</a>
							    </div>
							 </div>
						</form>
                        <div class="row">
                        	<div class="col-md-10 col-md-offset-1">
                        		<div class="table-responsive">
                        			<table class="table table-prof-info">
								      <thead>
								        <tr>
								          <th>行业/专业</th>
								          <th>公司名称</th>
								          <th>职业</th>
								          <th>职称</th>
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <td >1</td>
								          <td>Mark</td>
								          <td>Otto</td>
								          <td>@mdo</td>
								        </tr>
								        
								      </tbody>
			    					</table>
                        		</div>
                        	</div>
                        </div>
                        

				      </div>
				      <div role="tabpanel" class="tab-pane mt-15" id="info3" aria-labelledby="info3-tab">
				        <form class="form-horizontal">
							 
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">证书类型</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control"  >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">证书名称</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="exampleInputFile" class="col-sm-2 control-label">上传照片</label>
							    <div class="col-sm-4">
							     	<input type="file" id="exampleInputFile">
								    <div class="clearfix"></div>
								    <p>请上传证书的正面，确保证书内容清晰可见，控制图片在2M以内，格式支持jpg、png、git。</p>
							    </div>

							 </div>


							
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label"></label>
							    <div class="col-sm-4">
							        <a href="javascript:void(0);" class="btn btn-success">保存</a>
							       <!--  <button class="btn btn-success">保存</button> -->
							    </div>
							 </div>
						</form>
                        <div class="row">
                        	<div class="col-md-10 col-md-offset-1">
                        		<div class="">
                        			<table class="table ">
								      <thead>
								        <tr>
								          <th>姓名</th>
								          <th>证书类型</th>
								          <th>证书名称</th>
								          <th>证书照片</th>
								        </tr>
								      </thead>
								      <tbody>
								        <tr>
								          <th>张三</th>
								          <td>注册会计师</td>
								          <td>注册会计师资格证</td>
								          <td>

								          	<a href="#"><i class="glyphicon glyphicon-search" id="showImg0"></i></a>
								          	<div class="img-show-wrap">
								          		<img src="/images/img01.jpg" alt="" class="img-responsive img-thumbnail">
								          	</div>
								          	
								          </td>
								        </tr>
								        <tr>
								          <th>张一</th>
								          <td>注册会计师</td>
								          <td>注册会计师资格证</td>
								          <td>

								        
								         
								          	
								          </td>
								        </tr>
								      
								      </tbody>
			    					</table>
                        		</div>
                        		
                        	</div>
                        </div>
				      </div>
				      <div role="tabpanel" class="tab-pane mt-15" id="info4" aria-labelledby="info4-tab">
				        <form class="form-horizontal">
							 
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">公司名称</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control"  >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">公司邮箱</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">公司电话</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">公司地址</label>
							    <div class="col-sm-2">
							        <select class="form-control">
									    <option>行业分类</option>
									    <option>专科</option>
									  	<option>本科</option>
									  	
									</select>
							    </div>
							    <div class="col-sm-2">
							        <select class="form-control">
									    <option>专业分类</option>
									    <option>专科</option>
									  	<option>本科</option>
									  	
									</select>
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">组织结构号</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label">营业执照号</label>
							    <div class="col-sm-4">
							      <input type="text" class="form-control" >
							    </div>
							 </div>
							 <div class="form-group">
							    <label for="exampleInputFile" class="col-sm-2 control-label">营业执照照片</label>
							    <div class="col-sm-4">
							     	<input type="file" id="exampleInputFile">
								    <div class="clearfix"></div>
								    <p>请上传证书的正面，确保证书内容清晰可见，控制图片在2M以内，格式支持jpg、png、git。</p>
							    </div>

							 </div>


							
							 <div class="form-group">
							    <label for="inputPassword3" class="col-sm-2 control-label"></label>
							    <div class="col-sm-4">
							        <a href="javascript:void(0);" class="btn btn-success">保存</a>
							       <!--  <button class="btn btn-success">保存</button> -->
							    </div>
							 </div>
						</form>
				      </div>
		     
		    		</div>
			</div>
		</div>
	</div>
</div>



