<div class="container">
	<div class="col-md-5">
		<div class="info-personal notice-center-wrap">
			<div class="website-info-line">
				<ul id="project-collect" class="nav nav-tabs nav-inline" role="tablist" style="margin-bottom:-11px;">
			      <li role="presentation" class="active" ><a href="#release1" class="p-5" id="release1-tab" role="tab" data-toggle="tab" aria-controls="release1" aria-expanded="true">通知</a></li>
			      <li role="presentation"><a href="#release2" class="p-5" role="tab" id="release2-tab" data-toggle="tab" aria-controls="release2" aria-expanded="false">讨论</a></li>	   
			    </ul>
			    <div class="clearfix"></div>
			</div>

			<div id="release" class="tab-content ">
			    <div role="tabpanel" class="tab-pane  active in mt-15" id="release1" aria-labelledby="release1-tab">
			    	<ul class="notice-list">
			    		<li>
			    			<div class="media">
							    <div class="media-left">
							        <div class="circle-tag-wrap bluebg">
							        	<i class="glyphicon glyphicon-cog"></i>
							        </div>
							      </div>
							      <div class="media-body">
							        <h5 class="media-heading orange">系统公告
							        	<span class="glyphicon glyphicon-calendar gray small ml-20 pull-right"> 2016-08-14</span>
							        </h5>
							        <p class="gray">系统将在下午4点整进行维护，请注意查收。</p>
							       
							      </div>
							</div>
			    		</li>
			    		<li>
			    			<div class="media">
							    <div class="media-left">
							      
							          <div class="circle-tag-wrap graybg">
							        	 <i class="glyphicon glyphicon-ok"></i>
							        </div>
							       
							      </div>
							      <div class="media-body">
							        <h5 class="media-heading orange">系统公告
							        	<span class="glyphicon glyphicon-calendar gray small ml-20 pull-right"> 2016-08-14</span>
							        </h5>
							        <p class="gray">系统将在下午4点整进行维护，请注意查收。</p>
							       
							      </div>
							</div>
			    		</li>
			    	</ul>

			    	<div class="notice-footer">
						
			    		<span><i class="glyphicon glyphicon-ok"></i> 标记全部已读</span>
			    		<span class="ml-20"><i class="glyphicon glyphicon-trash"></i> 清空已读消息</span>
			    	</div>
			        
			    </div>
			    <div role="tabpanel" class="tab-pane   mt-15" id="release2" aria-labelledby="release1-tab">
			    	<ul class="notice-list">
			    		<li>
			    			<div class="media">
							    <div class="media-left">
							        <a href="#">
					                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
					                </a>
							      </div>
							      <div class="media-body">
							        <h5 class="media-heading orange">李四
							        	<span class="glyphicon glyphicon-calendar small ml-20 "> 2016-08-14</span>
							        </h5>
							        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
							       
							      </div>
							</div>
			    		</li>
			    		<li>
			    			<div class="media">
							    <div class="media-left">
							      
							        <a href="#">
					                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
					                </a>
							       
							      </div>
							      <div class="media-body">
							        <h5 class="media-heading orange">
							        	<span class="text-overflow-width">张三</span>
							        	<span class="glyphicon glyphicon-calendar gray small ml-20 "> 2016-08-14</span>
							        </h5>
							        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
							       
							      </div>
							</div>
			    		</li>
			    	</ul>
			    </div>
			 </div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="info-personal notice-center-wrap">
			<div class="website-info-line">
				<div class="header-border-left">
					<h4>通知</h4>
				</div>
			    <div class="clearfix"></div>
			</div>

			<ul class="notice-list">	
	    		<li>
	    			<div class="media">
					    <div class="media-left">
					      
					          <div class="circle-tag-wrap bluebg">
					        	 <i class="glyphicon glyphicon-ok"></i>
					        </div>
					       
					      </div>
					      <div class="media-body">
					        <h5 class="media-heading orange">系统公告
					        	<span class="glyphicon glyphicon-calendar gray small ml-20"> 2016-08-14</span>
					        	<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#TaskAcceptanceModal">任务验收</button>
					        </h5>
					        <p class="gray">系统将在下午4点整进行维护，请注意查收。</p>
					       
					      </div>
					</div>
	    		</li>
	    	</ul>
	    	<div class="website-info-line">
				<div class="header-border-left">
					<h4>讨论</h4>
				</div>
			    <div class="clearfix"></div>
			</div>
            <ul class="messages-bank p-15">
	    		<li>
	    			<div class="media">
					    <div class="media-left">
					        <a href="#">
			                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
			                </a>
					      </div>
					      <div class="media-body">
					        <h5 class="media-heading orange">李四
					        	<span class="glyphicon glyphicon-calendar small ml-20 "> 2016-08-14</span>
					        </h5>
					        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
					       
					      </div>
					</div>
	    		</li>
	    		<li>
	    			<div class="media">
					    <div class="media-left">
					      
					        <a href="#">
			                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
			                </a>
					       
					      </div>
					      <div class="media-body">
					        <h5 class="media-heading orange">
					        	<span class="text-overflow-width">张三</span>
					        	<span class="glyphicon glyphicon-calendar gray small ml-20 "> 2016-08-14</span>
					        </h5>
					        <p class="gray small">系统将在下午4点整进行维护，请注意查收。</p>
					       
					      </div>
					</div>
	    		</li>
	    	</ul>
	    	<div class="message-area">

	    		<h5><i class="glyphicon glyphicon-edit orange"></i>
	    			<span>发表回复</span>
	    		</h5>
	    		<div class="form-group">
		             <textarea class="form-control" rows="3" placeholder="请发表回复"></textarea>
		             
		        </div>
		        <button class="btn btn-primary btn-sm pull-right">回复</button>

		        <div class="clearfix"></div>
		        <button class="btn btn-warning btn-sm pull-right " data-toggle="modal" data-target="#CreateDiscussionModal">创建讨论</button>
	    	</div>

		</div>
	</div>
</div>



<!-- 任务验收 模态框 -->
<div id="TaskAcceptanceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" >
          		<h5>任务分组:#土建</h5>
          		<h4>售楼处</h4>
          </h4>
        </div>
        <div class="modal-body">
    
             <ul class="task-info-list border-radius">
             	<li>
             		<p>执行者</p>
             		<img src="/images/avatar.png" alt="" class="img-circle img-responsive">
             		<span>待认领</span>
             	</li>
             	<li>
             		<p>截止时间</p>
             		<span class="label label-info glyphicon glyphicon-calendar small ml-20"> 2016-08-04</span>
             	</li>
             	<li>
             		<p>优先级</p>
             		<span class="glyphicon glyphicon-exclamation-sign red">
    					
    				</span>
    				<span class="gray">非常紧急</span>
             	</li>
             	<li>
             		<p>预计收益</p>
             		<span class="orange large h-b">300</span>
             	</li>
             </ul>

             <h5>任务要求</h5>
             <div class="border-radius task-require-wrap">
             	<p>有道翻译提供即时免费的中、英、日、韩、法、俄、西班牙文全文翻译、网页翻译服务。... 支持全文翻译,智能调整语序,支持屏幕取词,快来点击下载~ 下载有道词典 扫描</p>
             </div>

             <h5>附件上传</h5>
             <ul class="task-uploak-wrap border-radius">
             	<li>
             		<span>1.钢结构设计总说明</span>
             		<a href="#" class="ml-20">钢结构设计说明.dwg</a>
             		<button class="btn btn-info btn-xs  pull-right">确认归档</button>
             	</li>
             	<li>
             		<span>2.基友平面布置图</span>
             		<a href="#" class="ml-20">钢结构设计说明.dwg</a>
             		<button type="file" class="btn btn-info btn-xs  pull-right">确认归档</button>
             	</li>
             	<li>
             		<span>3.预处理栓布置图</span>
             		<a href="#" class="ml-20">钢结构设计说明.dwg</a>
             		<button type="file" class="btn btn-success btn-xs  pull-right">已归档</button>
             	</li>
             	<div class="clearfix"></div>
             </ul>
             <h5>任务会话</h5>
             <ul class="task-uploak-wrap border-radius task-chat-list">
             	<li>
             		<ul class="media-list">
				      <li class="media">
				        <div class="media-left">
				          <a href="#">
				            <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
				          </a>
				        </div>
				        <div class="media-body">
				        	<!-- <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="small gray ml-20">手机：13810101011</span><span class="small gray ml-20">好评:5星</span></h5> -->
				          <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">张一</a><span class="glyphicon glyphicon-calendar gray small ml-20"> 2016-08-04</span><a href="#"><span class="label label-warning pull-right">回复</span></a></h5>
				          <p>请问基础平面布置图中需要预留门口喷泉位置？</p>
				          <!-- Nested media object -->
				          <div class="media">
				            <div class="media-left">
				              <a href="#">
				                <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
				              </a>
				            </div>
				            <div class="media-body">
				               <h5 class="media-heading"><a class="gray" href="#" data-toggle="modal" data-target="#memberModal">李四</a><span class="glyphicon glyphicon-calendar gray small ml-20"> 2016-08-14</span></h5>
				               <p>可以保留</p>
				              <!-- Nested media object -->
				              <!-- <div class="media">
				                <div class="media-left">
				                  <a href="#">
				                    <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
				                  </a>
				                </div>
				                <div class="media-body">
				                  <h5 class="media-heading">Nested media heading</h5>
				                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
				                </div>
				              </div> -->
				            </div>
				          </div>
				          <!-- Nested media object -->
				          <!-- <div class="media">
				            <div class="media-left">
				              <a href="#">
				                <img class="media-object img-circle" data-src="holder.js/64x64" alt="64x64" src="/images/avatar.png" data-holder-rendered="true" style="width: 40px; height: 40px;">
				              </a>
				            </div>
				            <div class="media-body">
				              <h5 class="media-heading">Nested media heading</h5>
				              <p>哈哈哈</p>
				            </div>
				          </div> -->
				        </div>
				      </li>
				    </ul>
             	</li>
             	
             	<!-- <li>
             		<span>2.基友平面布置图</span>
             		<button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
             	</li>
             	<li>
             		<span>3.预处理栓布置图</span>
             		<button type="file" class="btn btn-info btn-xs  pull-right">上传</button>
             	</li> -->
             	<div class="clearfix"></div>
             	
             </ul>
      
        </div>
        <div class="modal-footer text-left">
        	<div class="row">
        		<div class="col-md-4">
        			 <h4>好评度:</h4>
        			 <div class="gray ml-20">
        			 	<i class="glyphicon glyphicon-star orange"></i>
	        			 <i class="glyphicon glyphicon-star orange"></i>
	        			 <i class="glyphicon glyphicon-star orange"></i>
	        			 <i class="glyphicon glyphicon-star"></i>
	        			 <i class="glyphicon glyphicon-star"></i>
        			 </div>
        			 
        		</div>
        		<div class="col-md-4">
        			 <h4>实际收益:</h4>
        			 <span class="orange large h-b ml-20">300</span>
        		</div>
        		<div class="col-md-2 pull-right">
        			<button type="button" class="btn btn-info  btn-block">确定</button>
        		</div>
        	</div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>



  <!-- 创建讨论 -->
  <!-- Modal -->
<div class="modal fade" id="CreateDiscussionModal" tabindex="-1" role="dialog" aria-labelledby="CreateDiscussionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close gray" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title gray" id="myModalLabel">创建讨论至
        	<div class="dropdown d-i ml-10">
			  <span class="dropdown-toggle blue-01"id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    通江路丰城国际大厦设计项目
			    <span class="glyphicon glyphicon-menu-down"></span>
			  </span>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
			    <li><a href="#">Separated link</a></li>
			  </ul>
			</div>
        </h5>
      </div>
      <div class="modal-body">
        	<p class="text-center">设计初期实现低碳建筑设计方法的探索</p>
      </div>
      <div class="modal-footer">
      	<div class="text-left fl small gray">
      		<i class="glyphicon glyphicon-lock "></i>
      		<span>隐私模式</span>
      		<p class="small gray-01 ml-15">所有成员可见</p>
      	</div>
        <button type="button" class="btn btn-primary btn-sm">立即发布</button>
      </div>
    </div>
  </div>
</div>